<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/gestionarescueladeportiva/borrar' method='post'>
    <h2>Eliminar escuela deportiva</h2>
    <p>¿Estás seguro de que quieres borrar la escuela deportiva <%=record.nombre%>?</p>
    <input type='hidden' id='codEsc' name='codEsc' value=<%=record.codEsc%>>
    <div class="divider"></div>
    <input class="btn-accept" value="Borrar" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>
