<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form" id="edit" action="/gestionarescueladeportiva/modificar" method="post">
        <h2>Modificar escuela deportiva</h2>
        <input hidden id="codEsc" name="codEsc" type="number" value='<%=record.codEsc%>'' readonly></input>


        <div class="textfield">
        <div class="input">
            <span class="label">Nombre</span>
            <input required id="nombre" name="nombre" required type="text" value='<%=record.nombre%>''></input>
        </div>
        </div>
        
        
         <div class="textfield">
        <div class="input">
            <span class="label">Fecha de Inicio</span>
            <input required id="fechaInicio" name="fechaInicio" required type="date" value='<%=record.fechaInicio%>''></input>
        </div>
        </div>
        
        
         <div class="textfield">
        <div class="input">
            <span class="label">Fecha de Fin</span>
            <input required id="fechaFin" name="fechaFin" required type="date" value='<%=record.fechaFin%>''></input>
        </div>
        </div>
        
        
         <div class="textfield">
        <div class="input">
            <span class="label">Fecha de Clase</span>
            <input required id="fecha" name="fecha" required type="date" value='<%=record.fecha%>''></input>
        </div>
        </div>
        
        
        <section>
            <span class="label">Hora<span class="label"><br>
            <% if(record.hora === 0) { %>
                <input class="checkbox" type="radio" name="hora" value="0" checked> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 1){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1" checked>10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 2){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2" checked>12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>                    <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 3){ %>                        <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>                    <input class="checkbox" type="radio" name="hora" value="3" checked>13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 4){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4" checked>15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 5){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5" checked>16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 6){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6" checked>18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 7){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7" checked>19:30</input><br>
            <% } else { %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } %>
        </section>
        
        
        <div class="textfield">
        <div class="input">
            <span class="label">Cupo Mínimo</span>
            <input required id="cupoMin" name="cupoMin" required type="text" value='<%=record.cupoMin%>''></input>
        </div>
        </div>

        <div class="textfield">
            <div class="input">
                <span class="label">Cupo Máximo</span>
                <input required id="cupoMax" name="cupoMax" required type="text" value='<%=record.cupoMax%>''></input>
            </div>
            </div>

            <div class="textfield">
                <div class="input">
                    <span class="label">Número de Clases</span>
                    <input required id="numClases" name="numClases" required type="text" value='<%=record.numClases%>''></input>
                </div>
                </div>

                <div class="divider"></div>
                <input class="btn-accept" value="Aceptar" type="submit"></input>
</form>
</div>
</div>
<%- include('../layouts/footer.ejs'); -%>
