<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <h2>Nueva escuela deportiva</h2>
    <form class="form" id="insert" action="/gestionarescueladeportiva/nuevo" method="post">

        <div class="textfield">
        <div class="input">
            <span class="label">Nombre</span>
            <input id="nombre" name="nombre" required type="text"></input>
        </div>
        </div>


        <div class="textfield">
        <div class="input">
            <span class="label">Fecha de Inicio de Inscripción</span>
            <input id="fechaInicio" name="fechaInicio" required type="date"></input>
        </div>
        </div>
        
        
        <div class="textfield">
        <div class="input">
            <span class="label">Fecha de Fin de Inscripción</span>
            <input id="fechaFin" name="fechaFin" required type="date"></input>
        </div>
        </div>
        
        
        <div class="textfield">
        <div class="input">
            <span class="label">Fecha de Clases</span>
            <input id="fecha" name="fecha" required type="date"></input>
        </div>
        </div>
        
        
        <section>
                <span class="label">Hora<span class="label"><br>
                <input required class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input required class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input required class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input required class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input required class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input required class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input required class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input required class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
        </section>
        
        
        <div class="textfield">
        <div class="input">
            <span class="label">Cupo Mínimo</span>
            <input id="cupoMin" name="cupoMin" required type="text"></input>
        </div>
        </div>

        <div class="textfield">
            <div class="input">
                <span class="label">Cupo Máximo</span>
                <input id="cupoMax" name="cupoMax" required type="text"></input>
            </div>
            </div>

            <div class="textfield">
                <div class="input">
                    <span class="label">Número de Clases</span>
                    <input id="numClases" name="numClases" required type="text"></input>
                </div>
                </div>
        
                <div class="divider"></div>
                <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
  </div>
</div>


  <%- include('../layouts/footer.ejs'); -%>
