<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/gestionarescueladeportiva/reservar' method='post'>
<h2>Escuela deportiva</h2>
    <% if(estado === 'exito'){ %>
        <p>Reservas realizadas correctamente.</p>
        <% }
    else{ %>
        <p>No se pueden realizar las reservas porque no se ha alcanzado el cupo mínimo de deportistas.</p>
        <% } %>
    <div class="clearfix">
</form>
<%- include('../layouts/footer.ejs'); -%>