<%- include('../layouts/toolbar.ejs'); -%>
<% 
if(records.length > 0) { 
%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Gestión de Escuelas Deportivas</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead><tr>
            <th>Nombre</th>
            <th>Fecha de Inicio de Inscripción</th>
            <th>Fecha de Fin de Inscripción</th>
            <th>Fecha de Clase</th>
            <th>Cupo Mínimo</th>
            <th>Cupo Máximo</th>
            <th>Número de Clases</th>
            <th></th>
            <th></th>
            <th></th>
        </tr></thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ 

                var fechaReserva = records[i].fecha.getFullYear() + "-" + (records[i].fecha.getMonth() + 1) + "-" + records[i].fecha.getDate();
                
                var fecha = new Date(records[i].fecha);
         switch (records[i].hora) {
            case 0:
                fecha.setHours('9', '0', '0');
                break;
            case 1:
                fecha.setHours('10', '30', '0');
                break;
            case 2:
                fecha.setHours('12', '00', '0');
                break;
            case 3:
                fecha.setHours('13', '30', '0');
                break;
            case 4:
                fecha.setHours('15', '00', '0');
                break;
            case 5:
                fecha.setHours('16', '30', '0');
                break;
            case 6:
                fecha.setHours('18', '00', '0');
                break;
            case 7:
                fecha.setHours('19', '30', '0');
                break; 
        }
        
        var displayFecha = fecha.toLocaleString("es-ES");%>
                <tr>
                    <th><%=records[i].nombre%></th>
                    <th><%=new Date(records[i].fechaInicio).toLocaleDateString()%></th>
                    <th><%=new Date(records[i].fechaFin).toLocaleDateString()%></th>
                    <th><%=displayFecha%></th>
                    <th><%=records[i].cupoMin%></th>
                    <th><%=records[i].cupoMax%></th>
                    <th><%=records[i].numClases%></th>
                    <th>
                        <form id='oculto' action='/gestionarescueladeportiva/modificar' method='get' name='editButton'>
                            <input type='hidden' name='codEsc' value=<%=records[i].codEsc%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='edit' type='submit'>edit</button>
                                <span class="tooltiptext">Modificar escuela deportiva</span>
                            </div>  
                        </form>
                    </th>
                    <th>
                        <form id='oculto' action='/gestionarescueladeportiva/borrar' method='get' name='deleteButton'>
                            <input type='hidden' name='codEsc' value=<%=records[i].codEsc%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='delete' type='submit'>delete</button>
                                <span class="tooltiptext">Eliminar escuela deportiva</span>
                            </div>
                        </form>
                    </th>
                    <th>
                        <form id='oculto' action='/gestionarescueladeportiva/reservar' method='get' name='reservar'>
                            <input type='hidden' name='codEsc' value=<%=records[i].codEsc%>>
                            <input type='hidden' name='entrenador' value=<%=records[i].entrenador%>>
                            <input type='hidden' name='fecha' value=<%=fechaReserva%>>
                            <input type='hidden' name='hora' value=<%=records[i].hora%>>
                            <input type='hidden' name='cupoMin' value=<%=records[i].cupoMin%>>
                            <input type='hidden' name='numClases' value=<%=records[i].numClases%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' type='submit'>date_range</button>
                                <span class="tooltiptext">Reserva pista para esta escuela</span>
                            </div>
                        </form>
                    </th>
                </tr>
            <% } %>
        </tbody>
</table>
</div>
<% } else { %>
    <p>No hay ninguna escuela creada.</p>
<% } %>
<br>
<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class="material-icons" onclick="location.href='/gestionarescueladeportiva/nuevo'">add</span>
        <span class="tooltiptext">Promocionar Partido</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>