<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="insert" action="/gestionarNotificaciones/enviar" method="post">
        <% if(destinatario === '0'){ %>
            <div class="textfield">
                <div class="input">
                    <span class="label">Destinatario</span>
                    <input id="receptor" name="receptor" type="email" required>
                </div>
            </div>
        <% } else {%>
            <div class="textfield">
                <div class="input">
                    <span class="label">Destinatario</span>
                    <input id="receptor" name="receptor" type="email" required readonly value=<%=destinatario%>
                </div>
            </div>
        <% } %>
        <div class="textfield">
            <div class="input">
                <span class="label">Asunto</span>
                <input id="asunto" name="asunto" required type="text"></input>
            </div>
        </div>

        <div class="textfield expand">
            <div class="input">
                <span class="label">Mensaje</span>
                <textarea id="texto" name="texto" required type="text"></textarea>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" id="modificar" name="modificar" value="Aceptar" type="submit"></input>
    </form>
  </div>
</div>

  <%- include('../layouts/footer.ejs'); -%>