<%- include('../layouts/toolbar.ejs'); -%>
<% 
    if(records.length > 0) { 
%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Notificaciones</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th></th>
                <th>Asunto</th>
                <th></th>
            </tr>
        </thead>
        <% for(i = 0; i < records.length; i++){ %>
            <tr>
                <th data-title="Emisor"><%=records[i].emisor%></th>
                <th data-title="Asunto"><%=records[i].asunto%></th>
                <th>
                    <form id='oculto' action='/gestionarNotificaciones/showDetail' method='get' name='showButton'>
                        <input type='hidden' name='codNot' value=<%=records[i].codNot%>>
                        <div class='material-button tooltip'>
                            <button class='material-icons' id='show' type='submit'>visibility</button>
                            <span class="tooltiptext">Leer notificación</span>
                        </div>
                    </form>
                </th>
            </tr>
        <% } %>
    </table>
</div>
<% } else { %>
    <div class='form'>
        <h2>Notificaciones</h2>
        <p>No has recibido ninguna notificación aún.</p>
    </div>
<% } %>
<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class='material-icons' onclick="location.href='/gestionarNotificaciones/enviar?destinatario=0'">message</span>
        <span class="tooltiptext">Enviar mensaje</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>