<%- include('../layouts/toolbar.ejs'); -%>
<div class='form'>
    <h2>Notificación</h2>
    <p><%=record.asunto%></p>
    <p>De: <%=record.emisor%></p>
    <p><%=record.texto%></p>
    <% if(record.tipo === 0 || record.tipo === 1){ %>
        <table>
            <tr>
                <th>
                    <form id='oculto' action='/gestionarNotificaciones/aceptar' method='get' name='insertButton'>
                        <input type='hidden' name='codNot' value=<%=record.codNot%>>
                        <input class="btn-accept" id="modificar" name="modificar" value="Aceptar" type="submit"></input>
                    </form>
                </th>
                <th>
                    <form id='oculto' action='/gestionarNotificaciones/rechazar' method='get' name='editButton'>
                        <input type='hidden' name='codNot' value=<%=record.codNot%>>
                        <input class="btn-accept" id="modificar" name="modificar" value="Rechazar" type="submit"></input>
                    </form>
                </th>
            </tr>
        </table>
    <% } %>
    <% if(record.tipo === 3 && !record.visto){ %>
        <table>
            <tr>
                <th>
                    <form id='oculto' action='/gestionarNotificaciones/aceptarClase' method='get' name='insertButton'>
                        <div class="clearfix">
                            <input hidden id="codNot" name="codNot" type="number" value='<%=record.codNot%>'' readonly></input>
                            <input class="btn-accept" id="modificar" name="modificar" value="Aceptar" type="submit"></input>
                        </div> 
                    </form>
                </th>
                <th>
                    <form id='oculto' action='/gestionarNotificaciones/rechazarClase' method='get' name='editButton'>
                        <input hidden id="codNot" name="codNot" type="number" value='<%=record.codNot%>'' readonly></input>
                        <input class="btn-accept" id="modificar" name="modificar" value="Rechazar" type="submit"></input>
                    </form>
                </th>
            </tr>
        </table>
    <% } %>
    <% if(record.tipo === 4){ %>
        <p>Comprueba <a href="<%=record.banco%>">aquí</a> si sus datos bancarios son correctos para validar su alta.</p>
        <table>
            <tr>
                <th>
                    <form id='oculto' action='/gestionarusuarios/validarSocio' method='POST' name='insertButton'>
                        <input hidden name="codUsr" type="number" value=<%=record.emisorId%>>
                        <input hidden name="codNot" type="number" value=<%=record.codNot%>>
                        <input class="btn-accept" id="modificar" name="modificar" value="Aceptar" type="submit"></input>
                    </form>
                </th>
                <th>
                    <form id='oculto' action='/gestionarusuarios/cancelarValidacion' method='POST' name='insertButton'>
                        <input hidden name="codUsr" type="number" value=<%=record.emisorId%>>
                        <input hidden name="codNot" type="number" value=<%=record.codNot%>>
                        <input class="btn-accept" id="modificar" name="modificar" value="Rechazar" type="submit"></input> 
                    </form>
                </th>  
            </tr>
        </table>    
    <% } %>
</div>
<%- include('../layouts/footer.ejs'); -%>