</div> <!-- Cierre de appbar-container -->
<footer class="site-footer">
  <div class="footer-container">
    <div class="row">
      <div>
        <p class="copyright-text">ABP_32 2019/2020. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>

