<input type="checkbox" id="mobile-menu-checkbox">
  
<nav role="navigation" id="mobile-menu">
  <% if(session.avatar === 'estandar'){ %>
    <% if(session.genero === 'hombre') {%>
        <img class="menu-avatar" src="/images/Male-Avatar.png" />
    <% } else { %>
        <img class="menu-avatar" src="/images/Female-Avatar.png" />
    <% } 
  } else { %>
    <img class="menu-avatar" src="<%=session.avatar%>"/>
  <% } %>
  <ul class="list">
    <li class="item single-line"><div class="text"><a href="/perfil"><%=session.nombre%></a></div></li>
    <%switch(session.tipo){
      case 0: // Deportistas%>
        <li class="item single-line"><div class="text"><a href="/gestionarreservas">Mis Reservas</a></div></li>
        <li class="item single-line"><div class="text"><a href="/inscribirseenpartido">Partidos</a></div></li>
        <li class="item single-line"><div class="text"><a href="/promocionarpartido">Promocionar Partido Privado</a></div></li>
        <li class="item single-line"><div class="text"><a href="/inscribirseenpartido/mispartidos">Mis Partidos</a></div></li>
        <li class="item single-line"><div class="text"><a href="/gestionarcampeonatos">Campeonatos</a></div></li>
        <li class="item single-line"><div class="text"><a href="/miscampeonatos">Mis Campeonatos</a></div></li>
        <li class="item single-line"><div class="text"><a href="/gestionarinscripcionescueladeportiva">Escuelas Deportivas</a></div></li>
        <li class="item single-line"><div class="text"><a href="/misescuelas">Mis Escuelas Deportivas</a></div></li>
        <li class="item single-line"><div class="text"><a href="/gestionarclaseparticular">Clases Particulares</a></div></li>
        <li class="item single-line"><div class="text"><a href="/misclasesparticulares/">Mis Clases Particulares</a></div></li>
        <%break;
      case 1: // Entrenadores%>
        <li class="item single-line"><div class="text"><a href="/verMiAgenda?incremento=0">Mi Agenda</a></div></li>
        <li class="item single-line"><div class="text"><a href="/gestionarescueladeportiva">Gestión de Escuelas</a></div></li>
        <%break;
      case 2: // Administradores%>
        <li class="item single-line"><div class="text"><a href="/gestionarusuarios">Gestión de Usuarios</a></div></li>
        <li class="item single-line"><div class="text"><a href="/gestionarpistas">Gestión de Pistas</a></div></li>
        <li class="item single-line"><div class="text"><a href="/gestionarprecios">Gestión de Precios</a></div></li>
        <li class="item single-line"><div class="text"><a href="/promocionarpartido">Gestión de Partidos</a></div></li>
        <li class="item single-line"><div class="text"><a href="/gestionarcampeonatos">Gestión de Campeonatos</a></div></li>
        <li class="item single-line"><div class="text"><a href="/gestionarescueladeportiva">Gestión de Escuelas</a></div></li>
        <%break;
    }%>

      
    </ul>
</nav>

<label for="mobile-menu-checkbox" id="mobile-menu-overlay"></label>

<div class="appbar-container">
    <div class="appbar">
      <% if (typeof session.codUsr !== 'undefined') { %>
        <label class="material-icons right" for="mobile-menu-checkbox">menu</label>
        <label class="material-icons right" onclick="location.href='/logout'">exit_to_app</label>
        <% if (typeof notificaciones !== 'undefined') { %>
        <div class="icon_notificaciones">
          <label class="material-icons right" onclick="location.href='/gestionarNotificaciones'">mail_outline</label>
            <%if(notificaciones > 0 && notificaciones < 100){%>
              <div class="txt"><%=notificaciones%></div>
            <%} else if(notificaciones > 0){%>
              <div class="txt">99+</div>
            <%}%>
          </div>
        <% } %>
      <% } else {%>
        <label class="material-icons right" onclick="location.href='/login'">input</label>
      <% } %>
      <button class="icon_appbar" onclick="location.href='/'"></button>
      <span class="title">ABP 32</span>
    </div>