<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
    <table id="table" class="table table-hover table-mc-light-blue">
    <thead><tr>
        <th>Campeonato</th>
        <th>Categoria</th>
        <th>Nivel</th>
    </tr></thead>
    <tbody>
        <% for(i = 0; i < records.length; i++){ %>
        <tr>
            <th><%=records[i].nombreCamp%></th>
            <th><%=records[i].nombreCategoria%></th>
            <th><%=records[i].nombreNivel%></th>
            <th>
                <form id='oculto' action='/verMisEnfrentamientos' method='get' name='showButton'>
                    <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                    <input type='hidden' name='nombreCamp' value=<%=records[i].nombreCamp%>>
                    <input type='hidden' name='codCategoria' value=<%=records[i].codCategoria%>>
                    <input type='hidden' name='nombreCat' value=<%=records[i].nombreCategoria%>>
                    <input type='hidden' name='codNivel' value=<%=records[i].codNivel%>>
                    <input type='hidden' name='nombreNivel' value=<%=records[i].nombreNivel%>>
                    <input type='hidden' name='codGrupo' value=<%=records[i].codGrupo%>>
                    <div class="clearfix">
                        <button class='btn light flat' id='show' type='submit'>Ver enfrentamientos</button> 
                    </div>
                </form>
            </th>
        </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('../layouts/footer.ejs'); -%>