<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
    <table id="table" class="table table-hover table-mc-light-blue">
    <thead><tr>
        <th>Enfrentamiento</th>
        <th>Campeonato</th>
        <th>Categoria</th>
        <th>Nivel</th>
    </tr></thead>

    <tbody>
    <% for(i = 0; i < records.length; i++){ %>
        <tr>
            <th><%=records[i].codEnfrentamiento%></th>
            <th><%=nombreCamp%></th>
            <th><%=nombreCat%></th>
            <th><%=nombreNivel%></th>
            <th>
                <form id='oculto' action='/proponerFecha' method='get' name='showButton'>
                    <input type='hidden' name='codEnfrentamiento' value=<%=records[i].codEnfrentamiento%>>
                    <div class="clearfix">
                    <button class='btn light flat' id='show' type='submit'>Proponer fecha</button> 
                    </div>
                </form>
            </th>
        </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('../layouts/footer.ejs'); -%>