<%- include('../layouts/toolbar.ejs'); -%>

<div class="table-responsive-vertical shadow-z-1">
    <h2>Clasificación</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead><tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Partidos Ganados</th>
            <th>Partidos Jugados</th>
        </tr></thead>
        <tbody>
            <% for(i = 0; i < toret.length; i++){ %>
                <tr>
                    <th><%=toret[i].nombre%></th>
                    <th><%=toret[i].apellidos%></th>
                    <th><%=toret[i].partidosGanados%></th>
                    <th><%=toret[i].partidosTotales%></th>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('../layouts/footer.ejs'); -%>