<%- include('../layouts/toolbar.ejs'); -%>

<div class="table-responsive-vertical shadow-z-1">
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead><tr>
            <th>Partidos Ganados</th>
            <th>Partidos Ganados Sin Perder Sets</th>
            <th>Partidos Ganados Perdiendo 1 Set</th>
            <th>Partidos Perdidos</th>
            <th>Partidos Perdidos Sin Ganar Sets</th>
            <th>Partidos Perdidos Ganando 1 Set</th>
        </tr></thead>
        <tbody>
                <tr>
                    <th><%=partidosGanados%></th>
                    <th><%=partidosGanadosSinPerderSets%></th>
                    <th><%=partidosGanadosPerdiendoUnSet%></th>
                    <th><%=partidosPerdidos%></th>
                    <th><%=partidosPerdidosSinGanarSets%></th>
                    <th><%=partidosPerdidosGanandoUnSet%></th>
                </tr>
        </tbody>
</table>
</div>
<br>
<%- include('../layouts/footer.ejs'); -%>