<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/gestionarcontenido/borrar' method='post'>
    <p>¿Estás seguro de que quieres borrar el contenido "<%=record.titulo%>"?</p>
    <input type='hidden' id='codContDin' name='codContDin' value=<%=record.codContDin%>>
    <div class="divider"></div>
    <input class="btn-accept" value="Aceptar" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>