<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="edit" action="/gestionarcontenido/modificar" method="post" enctype="multipart/form-data">
        <h2>Modificar Noticia</h2>
        <input hidden id="codContDin" name="codContDin" type="number" value='<%=record.codContDin%>'' readonly></input>
        <div class="textfield">
            <span class="label">Título</span>
            <div class="input">
                <input id="titulo" name="titulo" required type="text" maxlength="50" value=<%=record.titulo%>></input>
            </div>
        </div>
        <div class="textfield expand">
            <span class="label">Entradilla</span>
            <div class="input">
                <textarea id="reseña" name="reseña" required type="text" maxlength="255"><%=record.reseña%></textarea>
            </div>
        </div>
        <div class="textfield expand">
            <span class="label">Texto</span>
            <div class="input">
                <textarea id="texto" name="texto" required type="text"><%=record.texto%></textarea>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Imagen</span>
            <div class="input">
                <input type="file" id="multimedia" name="multimedia" accept="image/jpeg">
            </div>
        </div>
        <div class="textfield">
            <span class="label">Enlace</span>
            <div class="select">
                <select class="select-text" name="link">
                    <% switch(record.link){
                        case '/gestionarreservas':%>
                            <option value=''>Sin enlace</option>
                            <option value="/inscribirseenpartido">Partidos Promocionados</option> 
                            <option value="/gestionarcampeonatos">Campeonatos</option> 
                            <option value="/gestionarinscripcionescueladeportiva">Escuelas Deportivas</option>
                            <option selected value="/gestionarreservas">Reservas</option>
                            <% break;
                        case '/gestionarinscripcionescueladeportiva':%>
                            <option value=''>Sin enlace</option>
                            <option value="/inscribirseenpartido">Partidos Promocionados</option> 
                            <option value="/gestionarcampeonatos">Campeonatos</option> 
                            <option selected value="/gestionarinscripcionescueladeportiva">Escuelas Deportivas</option>
                            <option value="/gestionarreservas">Reservas</option>
                            <% break;
                        case '/gestionarcampeonatos':%>
                            <option value=''>Sin enlace</option>
                            <option value="/inscribirseenpartido">Partidos Promocionados</option> 
                            <option selected value="/gestionarcampeonatos">Campeonatos</option> 
                            <option value="/gestionarinscripcionescueladeportiva">Escuelas Deportivas</option>
                            <option value="/gestionarreservas">Reservas</option>
                            <% break;
                        case '/inscribirseenpartido':%>
                            <option value=''>Sin enlace</option>
                            <option selected value="/inscribirseenpartido">Partidos Promocionados</option> 
                            <option value="/gestionarcampeonatos">Campeonatos</option> 
                            <option value="/gestionarinscripcionescueladeportiva">Escuelas Deportivas</option>
                            <option value="/gestionarreservas">Reservas</option>
                            <% break;
                        default: %>
                            <option selected value=''>Sin enlace</option>
                            <option value="/inscribirseenpartido">Partidos Promocionados</option> 
                            <option value="/gestionarcampeonatos">Campeonatos</option> 
                            <option value="/gestionarinscripcionescueladeportiva">Escuelas Deportivas</option>
                            <option value="/gestionarreservas">Reservas</option>
                            <% break;
                    }%> 
                </select>
                <span class="select-highlight"></span>
                <span class="select-bar"></span>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
</div>
<%- include('../layouts/footer.ejs'); -%>