<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="insert" action="/gestionarcontenido/insert" method="post" enctype="multipart/form-data">
        <h2>Nueva Noticia</h2>
        <div class="textfield">
            <span class="label">Título</span>
            <div class="input">
                <input id="titulo" name="titulo" required type="text" maxlength="50"></input>
            </div>
        </div>
        <div class="textfield expand">
            <span class="label">Entradilla</span>
            <div class="input">
                <textarea id="reseña" name="reseña" required type="text" maxlength="255"></textarea>
            </div>
        </div>
        <div class="textfield expand">
            <span class="label">Texto</span>
            <div class="input">
                <textarea id="texto" name="texto" required type="text"></textarea>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Imagen</span>
            <div class="input">
                <input type="file" id="multimedia" name="multimedia" accept="image/jpeg">
            </div>
        </div>
        <div class="textfield">
            <span class="label">Enlace</span>
            <div class="select">
                <select class="select-text" name="link">
                    <option selected value="">Elige una opción</option>
                    <option value="/inscribirseenpartido">Partidos Promocionados</option> 
                    <option value="/gestionarcampeonatos">Campeonatos</option> 
                    <option value="/gestionarinscripcionescueladeportiva">Escuelas Deportivas</option>
                    <option value="/gestionarreservas">Reservas</option> 
                </select>
                <span class="select-highlight"></span>
                <span class="select-bar"></span>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
</div>
<%- include('../layouts/footer.ejs'); -%>