<%- include('../layouts/toolbar.ejs'); -%>
<div class='showDetail'>
    <div class='multimedia'>
        <% if(record.multimedia === null){ %>
            <img src="/images/novedades-estandar.png">
        <% } else { %>
            <img src=<%=record.multimedia%>>
        <% } %>
        <% if(record.link !== null && record.link !== ''){ %>
            <form action=<%=record.link%> name='showButton'>
                <div class="clearfix">
                    <button type="submit" class="btn light flat"> ¡Apúntate ahora!</button type="submit">
                </div>
            </form>
        <% } %>
    </div>
    <div class='texto'>
        <div class='header'>
            <div class='titulo'>
                <h1><%=record.titulo%></h1>
            </div>
            <div class='fecha'>
                <p><%=record.fecha%></p>
            </div>
        </div>
        <div class='body'>
            <h4 class='reseña'><%=record.reseña%></h4>
            <%=record.texto%>
        </div>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>