<%- include('../layouts/toolbar.ejs'); -%>
<div class='noticias'>
    <h2>Últimas Noticias</h2>
    <% 
    if(records.length > 0) { 
    %>
    <div class='noticia'>
        <% if(records[0].multimedia === null){ %>
            <img class='multimedia' src="/images/novedades-estandar.png">
        <% } else { %>
            <img class='multimedia' src=<%=records[0].multimedia%>>
        <% } %>
        <div class='texto'>
            <div class='snackbar'>
                <div class="message">
                    <h3><%=records[0].titulo%></h3>
                    <p><%=records[0].reseña%></p>
                </div>
                <form action='/gestionarcontenido/showDetail' method='get' name='showButton'>
                    <input type='hidden' name='codContDin' value=<%=records[0].codContDin%>>
                    <button type="submit" class="btn dark flat">Saber más</button type="submit">
                </form>
            </div>
        </div>
    </div>
    <% } else { %>
        <p>No hay ningún anuncio o noticia.</p>
    <% } %>
    <div class="clearfix">
        <button class='btn light flat' onclick="location.href='/gestionarcontenido'">Más noticias</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>