<%- include('../layouts/toolbar.ejs'); -%>
<% 
    if(records.length > 0) { 
%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Anuncios y noticias</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Título</th>
                <th></th>
                <th>Fecha</th>
                <th></th>
                <% if(session.tipo === 2){ %>
                    <th></th>
                    <th></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <td data-title="Título"><%=records[i].titulo%></td>
                    <td data-title=""><%=records[i].reseña%></td>
                    <td data-title="fecha"><%=records[i].fecha%></td>
                    <% if(session.tipo === 2){ %>
                        <td data-title="">
                            <form action='/gestionarcontenido/modificar' method='get' name='editButton'>
                                <input type='hidden' name='codContDin' value=<%=records[i].codContDin%>>
                                <div class='material-button tooltip'>
                                    <button class='material-icons' id='edit' type='submit'>edit</button>
                                    <span class="tooltiptext">Editar contenido</span>
                                </div>
                            </form>
                        </td>
                        <td data-title="">
                            <form action='/gestionarcontenido/borrar' method='get' name='deleteButton'>
                                <input type='hidden' name='codContDin' value=<%=records[i].codContDin%>>
                                <div class='material-button tooltip'>
                                    <button class='material-icons' id='delete' type='submit'>delete</button>
                                    <span class="tooltiptext">Eliminar contenido</span>
                                </div>
                            </form>
                        </td>
                    <% } %>
                    <td data-title="">
                        <form action='/gestionarcontenido/showDetail' method='get' name='showButton'>
                            <input type='hidden' name='codContDin' value=<%=records[i].codContDin%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='show' type='submit'>visibility</button>
                                <span class="tooltiptext">Saber más</span>
                            </div>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody> 
    </table>
</div>
<% } else { %>
    <h2>Anuncios y noticias</h2>
    <p>No hay contenido alguno creado aún. ¡Crea algo nuevo! </p>
<% } %>

<% if(session.tipo === 2){ %>
    <div class="clearfix">
        <div class="btn fab blue tooltip">
            <span class='material-icons' onclick="location.href='/gestionarcontenido/insert'">create</span>
            <span class="tooltiptext">Nueva noticia</span>
        </div>
    </div>
<% } %>
<%- include('../layouts/footer.ejs'); -%>
