<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="insert" action="/gestionarclaseparticular/nuevo" method="post">
        <h2>Solicitar clase particular</h2>
        <input type='hidden' name='entrenador' value=<%=entrenador%>>
        <section>
            <table>
                <tr>
                     <% for(i = 0; i < 7; i++){ 
                        var fecha = new Date();
                        fecha.setDate(fecha.getDate() + i);
                    %>
                    <th><%=fecha.toLocaleDateString()%></th>
                    <%} %> 
                </tr>   
                <tr>
                    <% for(i = 0; i < 7; i++){ %> 
                    <td>
                            <input required class="checkbox" type="radio" name="fecha" value=<%=(i*10)+0%>>9:00</input><br>
                            <input required class="checkbox" type="radio" name="fecha" value=<%=(i*10)+1%>>10:30</input><br>
                            <input required class="checkbox" type="radio" name="fecha" value=<%=(i*10)+2%>>12:00</input><br>
                            <input required class="checkbox" type="radio" name="fecha" value=<%=(i*10)+3%>>13:30</input><br>
                            <input required class="checkbox" type="radio" name="fecha" value=<%=(i*10)+4%>>15:00</input><br>
                            <input required class="checkbox" type="radio" name="fecha" value=<%=(i*10)+5%>>16:30</input><br>
                            <input required class="checkbox" type="radio" name="fecha" value=<%=(i*10)+6%>>18:00</input><br>
                            <input required class="checkbox" type="radio" name="fecha" value=<%=(i*10)+7%>>19:30</input><br>
                    </td>
                    <% } %> 
                </tr>
            </table>
        </section>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
  </div>
</div>


  <%- include('../layouts/footer.ejs'); -%>