<%- include('../layouts/toolbar.ejs'); -%>
<% 
if(records.length > 0) { 
%>

<div class="table-responsive-vertical shadow-z-1">
    <h2>Clases Particulares</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead><tr>
            <th>Entrenador</th>
            <th>Fecha</th>
        </tr></thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>

            <% var fechaReserva = records[i].fecha.getFullYear() + "-" + (records[i].fecha.getMonth() + 1) + "-" + records[i].fecha.getDate();
                
                var fecha = new Date(records[i].fecha);
         switch (records[i].hora) {
            case 0:
                fecha.setHours('9', '0', '0');
                break;
            case 1:
                fecha.setHours('10', '30', '0');
                break;
            case 2:
                fecha.setHours('12', '00', '0');
                break;
            case 3:
                fecha.setHours('13', '30', '0');
                break;
            case 4:
                fecha.setHours('15', '00', '0');
                break;
            case 5:
                fecha.setHours('16', '30', '0');
                break;
            case 6:
                fecha.setHours('18', '00', '0');
                break;
            case 7:
                fecha.setHours('19', '30', '0');
                break; 
        }
        
        var displayFecha = fecha.toLocaleString("es-ES");%>

                <tr>
                    <th><%=nombres[i]%></th>
                    <th><%=displayFecha%></th>
                </tr>
            <% } %>
        </tbody>
</table>
</div>
<% } else { %>
    <div class="form">
        <h2>Clases Particulares</h2>
        <p>No has programado ninguna Clase Particular.</p>
    </div>
<% } %>
<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class='material-icons' onclick="location.href='/gestionarclaseparticular'">add</span>
        <span class="tooltiptext">Solicitar clase particular</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>