<%- include('../layouts/toolbar.ejs'); -%>
<% 
if(records.length > 0) { 
%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Solicitar Clase Particular</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <td data-title="Nombre"><%=records[i].nombre%></td>
                    <td data-title="Apellidos"><%=records[i].apellidos%></td>
                    <td>
                        <form id='oculto' action='/gestionarclaseparticular/nuevo' method='get' name='editButton'>
                            <input type='hidden' name='entrenador' value=<%=records[i].codUsr%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' type='submit'>date_range</button>
                                <span class="tooltiptext">Solicita clase con este profesor</span>
                            </div>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% } else { %>
    <div class="form">
        <h2>Solicitar Clase Particular</h2>
        <p>No hay entrenadores disponibles.</p>
    </div>
<% } %>
<%- include('../layouts/footer.ejs'); -%>