<%- include('../layouts/toolbar.ejs'); -%>
<form class="form" id='oculto' action='/gestionarcampeonatos/borrar' method='post'>
    <h2>Borrar campeonato</h2>
    <p>¿Estás seguro de que quieres borrar el campeonato <%=nombre%> ?</p>
    <input type='hidden' id='codCamp' name='codCamp' value=<%=codCamp%>>
    <div class="divider"></div>
    <input class="btn-accept" value="Borrar" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>