<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form" id="edit" action="/gestionarcampeonatos/modificar" method="post">
        <h2>Modificar Campeonato</h2>
        <input hidden id="codCamp" name="codCamp" required type="number" value='<%=record.codCamp%>''></input>
        <div class="textfield">
            <span class="label">Nombre</span>
            <div class="input">
                <input id="nombre" name="nombre" required maxlength="25" type="text" value='<%=record.nombre%>''></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Fecha de Inicio</span>
            <div class="input">
                <input id="fechaInicio" name="fechaInicio" required type="date" value=<%=record.fechaInicio%>></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Fecha de Fin</span>
            <div class="input">
                <input id="fechaFin" name="fechaFin" required type="date" value=<%=record.fechaFin%>></input>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
</div>
<%- include('../layouts/footer.ejs'); -%>