<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="insert" action="/gestionarcampeonatos/nuevo" method="post">
        <h2>Nuevo Campeonato</h2>
        <div class="textfield">
            <span class="label">Nombre</span>
            <div class="input">
                <input id="nombre" name="nombre" required maxlength="25" type="text"></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Fecha de Inicio</span>
            <div class="input">
                <input id="fechaInicio" name="fechaInicio" required type="date"></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Fecha de Fin</span>
            <div class="input">
                <input id="fechaFin" name="fechaFin" required type="date"></input>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
  </div>
</div>

  <%- include('../layouts/footer.ejs'); -%>