<%- include('../layouts/toolbar.ejs'); -%>
<% if(records.length > 0) { %>
<div class="table-responsive-vertical shadow-z-1">
    <div>Campeonatos</div>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th></th>
                <% if(session.tipo === 2){ %>
                    <th></th>
                    <th></th>
                <%}%>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <th><%=records[i].nombre%></th>
                    <th><%=records[i].fechaInicio%></th>
                    <th><%=records[i].fechaFin%></th>
                    <% if(session.tipo == 2){ %>
                        <th data-title="">
                            <form id='oculto' action='/gestionarcampeonatos/modificar' method='get' name='editButton'>
                                <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                                <div class='material-button tooltip'>
                                    <button class='material-icons' id='edit' type='submit'>edit</button>
                                    <span class="tooltiptext">Modificar campeonato</span>
                                </div>
                            </form>
                        </th>
                        <th data-title="">
                            <form id='oculto' action='/gestionarcampeonatos/borrar' method='get' name='deleteButton'>
                                <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                                <input type='hidden' name='nombre' value=<%=records[i].nombre%>>
                                <div class='material-button tooltip'>
                                    <button class='material-icons' id='delete' type='submit'>delete</button>
                                    <span class="tooltiptext">Eliminar campeonato</span>
                                </div>
                            </form>
                        </th>
                    <% } %>
                    <th data-title="">
                        <form id='oculto' action='/gestionarLigaRegular/categorias' method='get' name='showButton'>
                            <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                            <input type='hidden' name='nombre' value=<%=records[i].nombre%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='show' type='submit'>visibility</button>
                                <span class="tooltiptext">Ver Categorías</span>
                            </div>
                        </form>
                    </th>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% } else { %>
    <p>No hay ningún campeonato creado.</p>
<% } %>
<br>
<% if(session.tipo == 2){ %>
    <div class="clearfix">
        <div class="btn fab blue tooltip">
            <span class='material-icons' onclick="location.href='/gestionarcampeonatos/nuevo'">add</span>
            <span class="tooltiptext">Nuevo campeonato</span>
        </div>
    </div>
<% } %>
<%- include('../layouts/footer.ejs'); -%>