<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
    <h2><%=campeonato.nombre%></h2>
    <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Nivel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% for(i = 0; i < records.length; i++){ %>
        <tr>
            <th data-title="Categoria"><%=records[i].nombreCategoria%></th>
            <th data-title="Nivel"><%=records[i].nombreNivel%></th>
            <th>
                <% if(session.tipo === 2){ %>
                    <% if(records[i].nEnfrentamientos !== 0){ %>
                        <form id='oculto' action='/gestionarLigaRegular/grupos' method='get' name='editButton'>
                            <input type='hidden' name='nombreCamp' value=<%=campeonato.nombre%>>
                            <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                            <input type='hidden' name='nombreCat' value=<%=records[i].nombreCategoria%>>
                            <input type='hidden' name='codCategoria' value=<%=records[i].codCategoria%>>
                            <input type='hidden' name='nombreNivel' value=<%=records[i].nombreNivel%>>
                            <input type='hidden' name='codNivel' value=<%=records[i].codNivel%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='show' type='submit'>visibility</button>
                                <span class="tooltiptext">Ver grupos</span>
                            </div>
                        </form>
                    <% } %>
                    <% if(records[i].nEnfrentamientos === 0){ %>
                        <% if(new Date() >= campeonato.fechaInicio){ %>
                        <form id='oculto' action='/gestionarLigaRegular/generarenfrentamientos' method='get' name='editButton'>
                            <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                            <input type='hidden' name='codCategoria' value=<%=records[i].codCategoria%>>
                            <input type='hidden' name='codNivel' value=<%=records[i].codNivel%>>
                            <input type='hidden' name='codGrupo' value=<%=1%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='show' type='submit'>playlist_play</button>
                                <span class="tooltiptext">Generar liga regular</span>
                            </div>
                        </form>
                        <% } %>
                    <% } %>
                <% } %>
                    <% if(session.tipo === 0){ %>
                        <% if((session.genero === 'hombre') && ((records[i].nombreCategoria === 'masculino') || (records[i].nombreCategoria === 'mixta'))){ %>
                        <form id='oculto' action='/gestionarInscripcionCampeonato' method='get' name='editButton'>
                            <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                            <input type='hidden' name='nombreCamp' value=<%=campeonato.nombre%>>
                            <input type='hidden' name='codCategoria' value=<%=records[i].codCategoria%>>
                            <input type='hidden' name='nombreCat' value=<%=records[i].nombreCategoria%>>
                            <input type='hidden' name='codNivel' value=<%=records[i].codNivel%>>
                            <input type='hidden' name='nombreNivel' value=<%=records[i].nombreNivel%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='show' type='submit'>group_add</button>
                                <span class="tooltiptext">Inscribirse</span>
                            </div>
                        </form>
                        <% } %>
                        <% if((session.genero === 'mujer') && ((records[i].nombreCategoria == 'femenina') || (records[i].nombreCategoria == 'mixta'))){ %>
                            <form id='oculto' action='/gestionarInscripcionCampeonato' method='get' name='editButton'>
                                <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                                <input type='hidden' name='nombreCamp' value=<%=campeonato.nombre%>>
                                <input type='hidden' name='codCategoria' value=<%=records[i].codCategoria%>>
                                <input type='hidden' name='nombreCat' value=<%=records[i].nombreCategoria%>>
                                <input type='hidden' name='codNivel' value=<%=records[i].codNivel%>>
                                <input type='hidden' name='nombreNivel' value=<%=records[i].nombreNivel%>>
                                <div class='material-button tooltip'>
                                    <button class='material-icons' id='show' type='submit'>group_add</button>
                                    <span class="tooltiptext">Inscribirse</span>
                                </div>
                            </form>
                        <% } %>
                    <% } %>
            </th>
        </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('../layouts/footer.ejs'); -%>