<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form" id="edit" action="/gestionarLigaRegular/insertarResultado" method="post">
  
        <div class="textfield">
        <div class="input">
            <span class="label">Capitan</span>
            <input id="nombre1" name="nombre1" required type="string" value='<%=capitan1%>'' readonly></input>
        </div>
        </div>

        <div class="textfield">
        <div class="input">
            <span class="label">Jugador</span>
            <input id="nombre2" name="nombre2" required type="string" value='<%=jugador1%>'' readonly></input>
        </div>
        </div>

  
        <div class="textfield">
        <div class="input">
            <span class="label">Sets</span>
            <input id="resultado1" name="resultado1" required type="number" value='<%=sets1%>''></input>
        </div>
        </div>

        <div class="textfield">
        <div class="input">
            <span class="label">Capitan</span>
            <input id="nombre3" name="nombre3" required type="string" value='<%=capitan2%>'' readonly></input>
        </div>
        </div>
    
        <div class="textfield">
        <div class="input">
            <span class="label">Jugador</span>
            <input id="nombre4" name="nombre4" required type="string" value='<%=jugador2%>'' readonly></input>
        </div>
        </div>
    
      
        <div class="textfield">
        <div class="input">
            <span class="label">Sets</span>
            <input id="resultado2" name="resultado2" required type="number" value='<%=sets2%>''></input>
        </div>
        </div>

        <input type='hidden' id="codEnfrentamiento" name='codEnfrentamiento' value=<%=records[0].codEnfrentamiento%>>
        <input type='hidden' id="codCamp" name='codCamp' value=<%=records[0].codCamp%>>
        <input type='hidden' id="codCategoria" name='codCategoria' value=<%=records[0].codCategoria%>>
        <input type='hidden' id="codNivel" name='codNivel' value=<%=records[0].codNivel%>>
        <input type='hidden' id="codGrupo" name='codGrupo' value=<%=records[0].codGrupo%>>
        <input type='hidden' id="capitan1" name='capitan1' value=<%=records[0].capitan%>>
        <input type='hidden' id="jugador1" name='jugador1' value=<%=records[0].jugador%>>
        <input type='hidden' id="capitan2" name='capitan2' value=<%=records[1].capitan%>>
        <input type='hidden' id="jugador2" name='jugador2' value=<%=records[1].jugador%>>
  
        <div class="divider"></div>
        <div class="clearfix">
            <input class="btn light flat" id="modificar" name="modificar" value="Guardar" type="submit"></input>
            <input class="btn light flat" id="limpiar" name="limpiar" value="Limpiar" type="reset"></input>
        </div>
 
</form>
</div>
</div>

  <%- include('../layouts/footer.ejs'); -%>