<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
<table id="table" class="table table-hover table-mc-light-blue">
    <thead><tr>
        <th>codEnfrentamiento</th>
        <th>capitan1</th>
        <th>jugador1</th>
        <th>Sets</th>
        <th>capitan2</th>
        <th>jugador2</th>
        <th>Sets</th>
    </tr></thead>

    <tbody>

    <% for(i = 0; i < records.length; i=i+2){ %>
        <tr>
            <th><%=records[i].codEnfrentamiento%></th>
            <th><%=nombres[i*4]%><%=nombres[(i*4)+1]%></th>
            <th><%=nombres[(i*4)+2]%><%=nombres[(i*4)+3]%></th>
            <th><%=records[i].resultado%></th>
            <th><%=nombres[(i+1)*4]%><%=nombres[((i+1)*4)+1]%></th>
            <th><%=nombres[((i+1)*4)+2]%><%=nombres[((i+1)*4)+3]%></th>
            <th><%=records[i+1].resultado%></th>
            <th>
                <% if(records[i].resultado == null){ %>
                <form id='oculto' action='/gestionarLigaRegular/modificarResultado' method='get' name='editButton'>
                    <input type='hidden' name='codEnfrentamiento' value=<%=records[i].codEnfrentamiento%>>
                    <input type='hidden' name='capitan1' value=<%=nombres[i*4]%>>
                    <input type='hidden' name='jugador1' value=<%=nombres[(i*4)+2]%>>
                    <input type='hidden' name='sets1' value=<%=records[i].resultado%>>
                    <input type='hidden' name='capitan2' value=<%=nombres[(i+1)*4]%>>
                    <input type='hidden' name='jugador2' value=<%=nombres[((i+1)*4)+2]%>>
                    <input type='hidden' name='sets2' value=<%=records[i+1].resultado%>>
                    <div class="clearfix">
                    <button class='btn light flat' id='edit' type='submit'>Modificar Resultado</button> 
                    </div>
                </form>
                <% } %>
            </th>
        </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('../layouts/footer.ejs'); -%>