<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
<table id="table" class="table table-hover table-mc-light-blue">
    <thead><tr>
        <th>Campeonato</th>
        <th>Categoria</th>
        <th>Nivel</th>
        <th>Grupo</th>
    </tr></thead>

    <tbody>
    <% for(i = 0; i < records.length; i++){ %>
        <tr>
            <th><%=nombreCamp%></th>
            <th><%=nombreCat%></th>
            <th><%=nombreNivel%></th>
            <th><%=records[i].codGrupo%></th>
            <th>
                <form id='oculto' action='/gestionarLigaRegular/enfretamientos' method='get' name='editButton'>
                    <input type='hidden' name='codCamp' value=<%=codCamp%>>
                    <input type='hidden' name='codCategoria' value=<%=codCategoria%>>
                    <input type='hidden' name='codNivel' value=<%=codNivel%>>
                    <input type='hidden' name='codGrupo' value=<%=records[i].codGrupo%>>
                    <div class="clearfix">
                        <button class='btn light flat' id='edit' type='submit'>Ver Enfrentamientos</button> 
                    </div>
                </form>
                <form id='oculto' action='/gestionarLigaRegular/parejas' method='get' name='editButton'>
                    <input type='hidden' name='codCamp' value=<%=codCamp%>>
                    <input type='hidden' name='codCategoria' value=<%=codCategoria%>>
                    <input type='hidden' name='codNivel' value=<%=codNivel%>>
                    <input type='hidden' name='codGrupo' value=<%=records[i].codGrupo%>>
                    <div class="clearfix">
                        <button class='btn light flat' id='edit' type='submit'>Ver Parejas</button> 
                    </div>
                </form>
                <% if(partidosSinJugar[i] == 0){ %>
                    <form id='oculto' action='/gestionarLigaRegular/generarPlayOffs' method='get' name='editButton'>
                        <input type='hidden' name='codCamp' value=<%=codCamp%>>
                        <input type='hidden' name='codCategoria' value=<%=codCategoria%>>
                        <input type='hidden' name='codNivel' value=<%=codNivel%>>
                        <input type='hidden' name='codGrupo' value=<%=records[i].codGrupo%>>
                        <div class="clearfix">
                            <button class='btn light flat' id='edit' type='submit'>Generar PlayOffs</button> 
                        </div>
                    </form>
                <% }%>
                <% if(hayPartidosDePlayoffs[i] == true){%>
                    <form id='oculto' action='/gestionarLigaRegular/verPlayOffs' method='get' name='editButton'>
                        <input type='hidden' name='codCamp' value=<%=codCamp%>>
                        <input type='hidden' name='codCategoria' value=<%=codCategoria%>>
                        <input type='hidden' name='codNivel' value=<%=codNivel%>>
                        <input type='hidden' name='codGrupo' value=<%=records[i].codGrupo%>>
                        <div class="clearfix">
                            <button class='btn light flat' id='edit' type='submit'>Ver PlayOffs</button> 
                        </div>
                    </form>
                <% } %>
            </th>
        </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('../layouts/footer.ejs'); -%>