<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
<table id="table" class="table table-hover table-mc-light-blue">
    <thead><tr>
        <th>Campeonato</th>
        <th>Categoria</th>
        <th>Nivel</th>
    </tr></thead>

    <tbody>
    <% for(i = 0; i < records.length; i++){ %>
        <tr>
            <th><%=nombreCamp%></th>
            <th><%=nombreCat%></th>
            <th><%=records[i].nombre%></th>
            <th>
                <% if(tipo == 2){ %>
                <form id='oculto' action='/gestionarLigaRegular/grupos' method='get' name='editButton'>
                    <input type='hidden' name='nombreCamp' value=<%=nombreCamp%>>
                    <input type='hidden' name='codCamp' value=<%=codCamp%>>
                    <input type='hidden' name='nombreCat' value=<%=nombreCat%>>
                    <input type='hidden' name='codCategoria' value=<%=codCategoria%>>
                    <input type='hidden' name='nombreNivel' value=<%=records[i].nombre%>>
                    <input type='hidden' name='codNivel' value=<%=records[i].codNivel%>>
                    <div class="clearfix">
                    <button class='btn light flat' id='edit' type='submit'>Ver grupos</button> 
                    </div>
                </form>
                <% } %>
                <% if(tipo == 0){ %>
                <form id='oculto' action='/gestionarInscripcionCampeonato' method='get' name='editButton'>
                    <div class="clearfix">
                    <input type='hidden' name='codCamp' value=<%=codCamp%>>
                    <input type='hidden' name='codCategoria' value=<%=codCategoria%>>
                    <input type='hidden' name='codNivel' value=<%=records[i].codNivel%>>
                    <button class='btn light flat' id='edit' type='submit'>Inscribirse</button> 
                    </div>
                </form>
                <% } %>
            </th>
        </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('../layouts/footer.ejs'); -%>