<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
    <table id="table" class="table table-hover table-mc-light-blue">
    <thead><tr>
        <th>Nombre Capitan</th>
        <th>Apellidos Capitan</th>
        <th>Nombre Jugador</th>
        <th>Apellidos Jugador</th>
        <th>Puntuacion</th>
    </tr></thead>

    <tbody>
    <% for(i = 0; i < records.length; i = i + 5){ %>
        <tr>
            <th><%=records[i]%></th>
            <th><%=records[i+1]%></th>
            <th><%=records[i+2]%></th>
            <th><%=records[i+3]%></th>
            <th><%=records[i+4]%></th>
        </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('../layouts/footer.ejs'); -%>