<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
<table id="table" class="table table-hover table-mc-light-blue">

    <tbody>
    <% for(i = 0; i < 15; i++){ %>
        <tr>
            <% if(i == 0){ %>
            <th><%=partidos[0]%></th>
            <% }else if (i == 2){ %>
            <th><%=partidos[1]%></th>
            <% }else if (i == 4){ %>
            <th><%=partidos[2]%></th>
            <% }else if (i == 6){ %>
            <th><%=partidos[3]%></th>
            <% }else if (i == 8){ %>
            <th><%=partidos[4]%></th>
            <% }else if (i == 10){ %>
            <th><%=partidos[5]%></th>
            <% }else if (i == 12){ %>
            <th><%=partidos[6]%></th>
            <% }else if (i == 14){ %>
            <th><%=partidos[7]%></th>
            <% }else{ %>
            <th></th>
            <% } %>

            <% if(i == 1){ %>
            <th><%=partidos[8]%></th>
            <% }else if (i == 5){ %>
            <th><%=partidos[9]%></th>
            <% }else if (i == 9){ %>
            <th><%=partidos[10]%></th>
            <% }else if (i == 13){ %>
            <th><%=partidos[11]%></th>
            <% }else{ %>
            <th></th>
            <% } %>

            <% if(i == 3){ %>
            <th><%=partidos[12]%></th>
            <% }else if (i == 11){ %>
            <th><%=partidos[13]%></th>
            <% }else{ %>
            <th></th>
            <% } %>

            <% if(i == 7){ %>
            <th><%=partidos[14]%></th>
            <% }else{ %>
            <th></th>
            <% } %>
        </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('../layouts/footer.ejs'); -%>