<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form" id="edit" action="/gestionarprecios/modificar" method="post">
        <h2>Modificar Precio de <%=record.servicio%></h2>
        <input hidden id="codPrecio" name="codPrecio" type="number" value='<%=record.codPrecio%>'' readonly></input>
        <div class="textfield">
            <span class="label">Precio</span>
            <div class="input">
                <input id="precio" name="precio" required type="number" step="0.01" value='<%=record.precio%>''></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Precio para Socios</span>
            <div class="input">
                <input id="precioSocio" name="precioSocio" required type="number" step="0.01" value='<%=record.precioSocio%>''></input>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" id="modificar" name="modificar" value="Aceptar" type="submit"></input>
    </form>
</div>
  <%- include('../layouts/footer.ejs'); -%>
