<%- include('../layouts/toolbar.ejs'); -%>
            <% 
            if(records.length > 0) { 
            %>

<div class="table-responsive-vertical shadow-z-1">
    <h2>Gestión de Precios</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Precio</th>
                <th>Precio para Socios</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <td data-title="Servicios"><%=records[i].servicio%></td>
                    <td data-title="Precio"><%=records[i].precio%></td>
                    <td data-title="Precio para Socios"><%=records[i].precioSocio%></td>
                    <td>
                        <form id='oculto' action='/gestionarprecios/modificar' method='get' name='editButton'>
                            <input type='hidden' name='codPrecio' value=<%=records[i].codPrecio%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='edit' type='submit'>edit</button>
                                <span class="tooltiptext">Modificar precio</span>
                            </div>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
            <% } else { %>
                <p>No hay precios aún.</p>
            <% } %>

<%- include('../layouts/footer.ejs'); -%>
