<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/gestionarpistas/borrar' method='post'>
    <h2>Eliminar Cuenta de Usuario</h2>
    <p>¿Estás seguro de que quieres borrar la pista <%=record.codPista%>? Se borrarán todas las reservas asociadas a ella creadas.</p>
    <input type='hidden' id='codUsr' name='codPista' value=<%=record.codPista%>>
    <div class="divider"></div>
    <input class="btn-accept" value="Borrar pista" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>