<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="insert" action="/gestionarpistas/insert" method="post">
        <h2>Nueva Pista</h2>
        <div class="textfield">
            <span class="label">Superficie</span>
            <div class="select">
                <select class="select-text" name="superficie" required>
                    <option value="Cemento" selected>Cemento</option> 
                    <option value="Cesped">Cesped</option> 
                    <option value="Hormigón Poroso">Hormigón Poroso</option>
                    <option value="Resina Sintética">Resina Sintética</option> 
                </select>
                <span class="select-highlight"></span>
                <span class="select-bar"></span>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Tipo</span>
            <div class="select">
                <select class="select-text" name="tipo" required>
                    <option value='Exterior' selected>Exterior</option> 
                    <option value='Interior'>Interior</option>  
                </select>
                <span class="select-highlight"></span>
                <span class="select-bar"></span>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
<%- include('../layouts/footer.ejs'); -%>