@import './util.less';

.actions {
  padding: 8px;
  font-size: 0;
  .clearfix();
  & > .btn {
    margin: 0;
    margin-right: 8px;
    padding: 0 8px;
    min-width: 60px;
    .border-box();
    &.rect {
      padding: 6px;
    }
  }
  & > .btn.right {
    float: right;
    margin-right: 0;
    margin-left: 8px;
  }
}
