@import './base.less';
@import './util.less';
@import './shadow.less';
@import './material-icons.less';
@import './textfields.less';

.appbar {
  width: 100%;
  height: 48px;
  .box-shadow(4, light);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  .clearfix();
  .user-select(none);
  & > .icon_appbar {
    background-image: url(../images/title_icon.svg);
    background-color: #FFF;
    cursor: pointer;
    width:35px;
    height:36px;
    border:0px;
  }
  & > .icon_notificaciones {
    padding: 12px;
    cursor: pointer;
    float: right;
    & > .txt {
      font-size: 12px;
      text-align:center;
      position: relative;
      right: 5px;
      top: -15px;
      color: #FFF;
      background-color: #F00;
      border-radius: 50%;
      padding: 4px 4px;
    }
  }
  & > .title {
    font-size: 18px;
    line-height: 48px;
  }
  & > .material-icons {
    padding: 12px;
    cursor: pointer;
    &.left {
      float: left;
      & + .title {
        padding-left: 64px;
      }
    }
    &.right {
      float: right;
      & + .title {
        padding-right: 48px;
      }
    }
  }
}
.appbar-container { // ¡Contenedor de las vistas!
  width: 100%;
  min-height: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #F5F5F5;
  position: absolute;
}