@import './font-roboto.less';

html {
  font-size: 14px;
  font-family: Roboto;
  height:100%;
}
body {
  margin: 0;
  height:100%;
}
p {
  white-space: pre-line;
}
* {
  -webkit-tap-highlight-color: transparent;
}
