@import './base.less';
@import './util.less';
@import './shadow.less';
@import './material-icons.less';

.material-button{
  button{
    background:none;
    border:none;
    cursor: pointer;
  }
}
.btn {
  display: inline-block;
  border-radius: 2px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
  .user-select();
  .transition(all; 0.15s);
  &.disabled {
    cursor: not-allowed;
  }
  &.light {
    color: #000;
    &.flat {
      background-color: transparent;
      &:hover,
      &:focus,
      &.focused {
        background-color: rgba(153, 153, 153, 0.1);
      }
      &:active,
      &.pressed {
        background-color: rgba(153, 153, 153, 0.3);
      }
      &.disabled,
      &.disabled:hover,
      &.disabled:active {
        background-color: transparent !important;
      }
    }
    &.disabled,
    &.disabled:hover,
    &.disabled:active {
      color: rgba(0, 0, 0, 0.26);
    }
    &.raised {
      background-color: rgba(153, 153, 153, 0.1);
      .box-shadow(2, light);
      &:hover,
      &:focus,
      &.focused {
        background-color: rgba(153, 153, 153, 0.3);
      }
      &:active,
      &.pressed {
        background-color: rgba(153, 153, 153, 0.3);
        .box-shadow(8, light);
      }
      &.disabled,
      &.disabled:hover,
      &.disabled:active {
        background-color: rgba(153, 153, 153, 0.1) !important;
        .box-shadow(2, light) !important;
      }
    }
  }
  &.dark {
    color: #FFF;
    &.flat {
      background-color: transparent;
      &:hover,
      &:focus,
      &.focused {
        background-color: rgba(204, 204, 204, 0.1);
      }
      &:active,
      &.pressed {
        background-color: rgba(204, 204, 204, 0.3);
      }
      &.disabled,
      &.disabled:hover,
      &.disabled:active {
        background-color: transparent !important;
      }
    }
    &.disabled,
    &.disabled:hover,
    &.disabled:active {
      color: rgba(255, 255, 255, 0.3);
    }
    &.raised {
      background-color: rgba(204, 204, 204, 0.1);
      .box-shadow(2, light);
      &:hover,
      &:focus,
      &.focused {
        background-color: rgba(204, 204, 204, 0.3);
      }
      &:active,
      &.pressed {
        background-color: rgba(204, 204, 204, 0.3);
        .box-shadow(8, light);
      }
      &.disabled,
      &.disabled:hover,
      &.disabled:active {
        background-color: rgba(204, 204, 204, 0.1) !important;
        .box-shadow(2, light) !important;
      }
    }
  }
  &.blue {
    color: #FFF;
    background-color: #2196F3;
    &.disabled,
    &.disabled:hover,
    &.disabled:active {
      color: rgba(255, 255, 255, 0.3);
    }
    &.raised {
      .box-shadow(2, light);
      &:hover,
      &:focus,
      &.focused {
        background-color: #1A77C9;
      }
      &:active,
      &.pressed {
        background-color: #1A77C9;
        .box-shadow(8, light);
      }
      &.disabled,
      &.disabled:hover,
      &.disabled:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: rgba(255, 255, 255, 0.12) !important;
        .box-shadow(2, light) !important;
      }
    }
  }
  &.fab {
    display: inline-block;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 16px;
    .border-box();
    text-align: center;
    position: fixed;
    bottom:75px;
	  left:40px;
    &.mini {
      width: 40px;
      height: 40px;
      padding: 8px;
    }
    &.red {
      background-color: #FF4081;
      color: #FFF;
      .box-shadow(6, light);
      &:hover,
      &:focus,
      &.focused {
        background-color: #D24B79;
      }
      &:active,
      &.pressed {
        background-color: #D24B79;
        .box-shadow(12, light);
      }
    }
  }
  &.rect {
    width: 36px;
    height: 36px;
    padding: 6px;
    .border-box();
    border-radius: 0;
  }
}

.clearfix:nth-of-type(2n) {
  padding-bottom: 16px;
}

.dark-bg {
  background-color: #444;
}

.btn {
  margin: 8px;
}

.btn-accept {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 150px;
  width: 60%;
  //margin:0px auto;
  left: 25%;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  //color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  //background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  //font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.btn-accept::-moz-focus-inner {
  border: none;
}

/* Overlay */
.btn-accept::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.btn-accept::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  //background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.btn-accept:hover,
.btn-accept:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-accept:hover::before {
  opacity: 0.08;
}

.btn-accept:focus::before {
  opacity: 0.24;
}

.btn-accept:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.btn-accept:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-accept:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.btn-accept:disabled {
  //color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  //background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.btn-accept:disabled::before {
  opacity: 0;
}

.btn-accept:disabled::after {
  opacity: 0;
}