@import './base.less';
@import './shadow.less';
@import './util.less';
@import './actions.less';

.card {
  .border-box();
  margin: 8px;
  border-radius: 2px;
  .box-shadow(2, light);
  .transition(all, 0.15s);
  &.raisable:active {
    .box-shadow(8, light);
  }

  & > .media {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: (9 / 16 * 342px);
  }

  & > .title {
    margin: 16px;
    margin-top: 24px;
    & > .primary {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
    }
    & > .sub {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.5);
    }
    &:first-child {
      margin-top: 0;
      padding-top: 16px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 16px;
    }
  }

  & > p {
    margin: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    &:first-child {
      margin-top: 0;
      padding-top: 16px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 24px;
    }
  }

  & > .avatar-title {
    margin: 16px;
    & > .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      float: left;
    }
    & > .primary,
    & > .sub {
      font-size: 14px;
      line-height: 20px;
      padding-left: 56px;
    }
    & > .sub {
      color: rgba(0, 0, 0, 0.5);
    }
    &:first-child {
      margin-top: 0;
      padding-top: 16px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 16px;
    }
  }
}
