@import './base.less';
@import './shadow.less';
@import './util.less';
@import './material-icons.less';

.chip {
  display: inline-block;
  height: 32px;
  border-radius: 16px;
  background-color: rgba(153, 153, 153, 0.1);
  cursor: pointer;
  .user-select(none);
  .transition(all, 0.15s);
  .clearfix();
  &.focused,
  &:hover {
    background-color: rgba(153, 153, 153, 0.25);
    .box-shadow(2, light);
  }
  &.pressed,
  &:active {
    background-color: rgba(153, 153, 153, 0.4);
    .box-shadow(6, light);
  }
  & > .label {
    padding: 0 8px;
    font-size: 13px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
    &:first-child {
      padding-left: 12px;
    }
    &:last-child {
      padding-right: 12px;
    }
  }
  & > .avatar {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
  }
  & > .material-icons {
    display: inline-block;
    float: right;
    width: 26px;
    height: 32px;
    .border-box();
    font-size: 20px;
    padding: 6px;
    padding-left: 0;
    color: rgba(0, 0, 0, 0.3);
  }
}
