@import './base.less';
@import './util.less';
@import './shadow.less';
@import './actions.less';
@import './lists.less';
@import './buttons.less';

.dialog {
  position: absolute;
  width: 80%;
  min-width: 180px;
  .box-shadow(24, light);
  background-color: #FFF;
  left: 50%;
  margin-left: -40%;
  top: 50%;
  margin-top: -50%;

  & > .title {
    padding: 24px;
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    & > .highlight {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  & > .content {
    padding: 0 24px;
    margin-top: 20px;
    margin-bottom: 24px;
    max-height: 240px;
    overflow-y: auto;
    &.box {
      padding: 0;
      margin: 0;
      border: solid 0 rgba(0, 0, 0, 0.12);
      border-width: 1px 0;
    }
    & > .text {
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.dialog-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
