@import './base.less';
@import './shadow.less';

.site-footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  padding:20px 10% 20px;
  box-shadow:-5px -5px 5px @light-shadow2;
  font-size:15px;
  line-height:24px;
  color:#757575;
}
.copyright-text
{
  margin:0
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text
  {
    text-align:center
  }
}
