@import './shadow.less';
@import './base.less';
.form {
    width: 80%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    margin: 0 16px;
    background-color: #FFF;
    .box-shadow(4, light);
}
.form-login {
  margin-left: auto;
  margin-right:auto;
  display: block;
  width: 60%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  margin: 0 16px;
  background-color: #FFF;
  .box-shadow(4, light);
}
.profile{
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: flex-start;
  margin: 0 16px;
  background-color: #FFF;
  .box-shadow(4, light);
  & .profile-avatar{
    width: 30%;
    height: 90%;
    img {
      width: 40%;
      height: auto;
    }
  }
  & .profile-grid {
    & tr {
      & th {
        text-align: left;
      }
    }
  }
}

.cou-grid{
  padding:0% 5% 0% 5%;
  width: 100%;
  tr {
    th {
      width: 25%;
      height: 90px;
      padding: 1%;
      position: relative;
      display: inline-block;
      cursor: pointer;
      .material-icons{
        right:0;
      }
      .name{
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 20%;
        width: 100%;
        word-wrap: break-word;
      }
    }
  }
}

.noticias{
  width: auto;
  height: 50%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  margin: 0 16px;
  background-color: #FFF;
  .box-shadow(4, light);
  .noticia{
    position: relative;
    margin: 2% 2% 2% 2%;
    .multimedia{
      height: auto;
      width: 100%;
      display:block;
      margin:auto;
    }
    .texto{
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s;
      width: 100%;
      height: 100%;
      bottom: 0px;
      position: absolute;
      & > .snackbar {
        position: absolute;
        width: 100%;
        height: 20%;
        left: 0;
        bottom: 0;
      }
    }
  }
}
.noticia:hover .texto {
  visibility: visible;
  opacity: 0.8;
}
.showDetail{
  width: auto;
  height: 50%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  margin: 0 16px;
  display: flex;
  justify-content: flex-start;
  background-color: #FFF;
  .box-shadow(4, light);
  .multimedia{
    width: 50%;
    img{
      width: 100%;
      height: auto;
    }
  }
  .texto{
    width: 50%;
    padding: 1% 1% 1% 1%;
    display: block;
    word-wrap: break-word;
    .header{
      /*.titulo{
        //float: left;
      }*/
      .fecha{
        top: 1%;
        float: right;
        color:#757575;
      }
    }
    /*.body{
      top: 10%;
    }*/
  }
}
