@import './base.less';
@import './util.less';

.loop-grid(@count: 1; @i: 1)
    when (@i <= @count) {
  &.w@{i} {
    width: (100% / @i);
  }

  .loop-grid(@count; (@i + 1));
}

.grid {
  padding: 0 4px;
  .clearfix();
  & > .item {
    width: 100%;
    float: left;
    .border-box();
    padding: 4px;
    .loop-grid(12);
  }
  &.thin {
    padding: 0 2px;
    & > .item {
      padding: 2px;
    }
  }
}
