@import './base.less';
@import './util.less';
@import './divider.less';
@import './subheader.less';
@import './material-icons.less';
@import './font-roboto.less';

.list {
  .list-clean();
  padding: 8px 0;
  & > .item {
    .border-box();
    .transition(all, 0.15s);
    cursor: pointer;
    .clearfix();
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
    & > .material-icons {
      display: inline-block;
      color: rgba(0, 0, 0, 0.6);
    }
    & > div {
      & > a {
        text-decoration:none;
        color: #000;
      }
    }
  }
  & > .single-line {
    height: 48px;
    padding: 12px 16px;
    & > div {
      height: 24px;
      overflow: hidden;
      font-size: 16px;
      line-height: 24px;
    }
    & > .material-icons {
      &.left {
        float: left;
        & ~ div {
          margin-left: 56px;
        }
      }
      &.right {
        float: right;
        & ~ div {
          margin-right: 40px;
        }
      }
    }
  }
  & > .multi-line {
    padding: 16px;
    & > .primary {
      height: 24px;
      font-size: 14px;
      line-height: 24px;
      overflow: hidden;
    }
    & > .secondary {
      font-size: 13px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.6);
    }
    & > .avatar {
      display: inline-block;
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      & ~ .primary,
      & ~ .secondary {
        margin-left: 56px;
      }
    }
    & > .material-icons {
      margin-top: 8px;
      &.left {
        float: left;
        & ~ .primary,
        & ~ .secondary {
          margin-left: 56px;
        }
      }
      &.right {
        float: right;
        & ~ .primary,
        & ~ .secondary {
          margin-right: 40px;
        }
      }
    }
  }
}

/*************************/
/* OPTION DE FORMULARIOS */
/*************************/

.select {
  font-size: 15px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.5);
	position: relative;
	//width: 350px;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 350px;
	padding: 5px 5px 5px 0;
	border-radius: 0;
  border: none;
  font-family: Roboto;
  font-size: 16px;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
	color: rgba(0,0,0, 0.26);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 15px;
	transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 350px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	//background: #2F80ED;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
