@import './base.less';
@import './shadow.less';
@import './util.less';
@import './divider.less';
@import './subheader.less';

.menu {
  position: absolute;
  .list-clean();
  .box-shadow(8, light);
  max-width: 80%;
  min-width: 180px;
  top: 5px;
  right: 5px;
  background-color: #FFF;
  padding: 8px 0;
  .user-select(none);
  & > .item {
    height: 48px;
    .border-box();
    padding: 12px 16px;
    .transition(all, 0.15s);
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.disabled {
      background-color: rgba(0, 0, 0, 0.05) !important;
      color: rgba(0, 0, 0, 0.3);
      cursor: not-allowed;
    }
    & > .text {
      font-size: 16px;
      line-height: 24px;
      overflow: hidden;
      height: 24px;
    }
  }
  & > .divider {
    margin: 12px 0;
  }
  &.thin {
    & > .item {
      height: 32px;
      padding: 4px 24px;
      & > .text {
        font-size: 14px;
      }
    }
    & > .divider {
      margin: 8px 0;
    }
    & > .subheader {
      height: 32px;
      padding: 6px 24px;
    }
  }
}

#mobile-menu-checkbox {
  display: none;
  
  &:checked {
    & ~ #mobile-menu-overlay {
      display: block;
    }
    
    & ~ #mobile-menu {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

#mobile-menu-overlay {
  background-color: rgba(0, 0, 0, .6);
  display: none;
  height: 100%;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#mobile-menu {
  position: fixed;
  .list-clean();
  .box-shadow(8, light);
  right: 0;
  z-index: 101;
  top:0;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #F5F5F5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  padding: 10px;
  .user-select(none);
  & .menu-avatar {
    width: 30%;
    max-width: 300px;
    height: auto;
    margin-right: 2%;
    //border-radius: 50%;
  }
  & > .item {
    height: 48px;
    .border-box();
    padding: 12px 16px;
    .transition(all, 0.15s);
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.disabled {
      background-color: rgba(0, 0, 0, 0.05) !important;
      color: rgba(0, 0, 0, 0.3);
      cursor: not-allowed;
    }
    & > .text {
      font-size: 16px;
      line-height: 24px;
      overflow: hidden;
      height: 24px;
    }
  }
  & > .divider {
    margin: 12px 0;
  }
  &.thin {
    & > .item {
      height: 32px;
      padding: 4px 24px;
      & > .text {
        font-size: 14px;
      }
    }
    & > .divider {
      margin: 8px 0;
    }
    & > .subheader {
      height: 32px;
      padding: 6px 24px;
    }
  }
}
