@import './base.less';
@import './dialog.less';
@import './util.less';

table.calendar {
  width: 100%;
  & tr {
    & > td {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 4px;
      cursor: pointer;
      .user-select(none);
      .transition(all, 0.15s);
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &.current,
      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &.other {
        color: rgba(0, 0, 0, 0.4);
      }
    }
    &.week > td {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  &.year,
  &.month {
    & tr > td {
      width: 25%;
    }
  }
  &.day {
    & tr > td {
      width: (100% / 7);
    }
  }
}
