@import './base.less';
@import './shadow.less';
@import './util.less';

.progress {
  &.linear {
    width: 100%;
    height: 0;
    position: relative;
    background-color: #FFF;
    & > .buffering {
      width: 100%;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: dotted 4px #EEF;
    }
    & > .buffered,
    & > .rate {
      width: 0%;
      height: 4px;
      position: absolute;
      top: 0;
      left: 0;
      .transition(all, 0.15s);
    }
    & > .buffered {
      background-color: #DDF;
    }
    & > .rate {
      background-color: #88F;
    }
  }
}
