@light-shadow1: rgba(0, 0, 0, 0.1);
@light-shadow2: rgba(0, 0, 0, 0.2);
@dark-shadow1: rgba(255, 255, 255, 0.05);
@dark-shadow2: rgba(255, 255, 255, 0.1);

.box-shadow(@z: 1; light) {
  box-shadow: 0 0 (@z * 2)/3px @light-shadow1,
      0 (@z * 2)/3px (@z * 2)/3px @light-shadow2;
}

.box-shadow(@z: 1; dark) {
  box-shadow: 0 0 (@z * 2)/3px @dark-shadow1,
      0 (@z * 2)/3px (@z * 2)/3px @dark-shadow2;
}
