@import './base.less';
@import './util.less';

.slider {
  display: block;
  width: 100%;
  height: 20px;
  position: relative;
  cursor: pointer;
  & > .bg {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.26);
    .transition(all, 0.15s);
    position: absolute;
    left: 0;
    top: 9px;
  }
  & > .rate {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2196F3;
    .transition(all, 0.15s);
    position: absolute;
    left: 0;
    top: 9px;
    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      .border-box();
      border: solid 2px #2196F3;
      border-radius: 50%;
      background-color: #2196F3;
      position: absolute;
      top: -5px;
      right: -6px;
      .transition(all, 0.15s, 0.2s, ease-in);
    }
    &.zero:after {
      border-color: rgba(0, 0, 0, 0.26);
      background-color: #FFF;
    }
  }
  &:focus,
  &:hover {
    & > .bg {
      background-color: rgba(0, 0, 0, 0.38);
    }
    & > .rate {
      &:after {
        width: 18px;
        height: 18px;
        top: -8px;
        right: -9px;
      }
    }
  }
  &.disabled {
    cursor: not-allowed;
    & > .rate {
      background-color: transparent;
      &:after {
        width: 8px;
        height: 8px;
        top: -3px;
        right: -4px;
        border-color: #BDBDBD;
        background-color: #BDBDBD;
      }
      &.zero:after {
        background-color: #FFF;
      }
    }
    &:focus,
    &:hover {
      & > .bg {
        background-color: rgba(0, 0, 0, 0.26);
      }
    }
  }
}
