@import './base.less';
@import './util.less';
@import './material-icons.less';
@import './buttons.less';

.snackbar {
  .border-box();
  background-color: #323232;
  border-radius: 2px;
  .transition(all, 0.3s);
  & > .message {
    float: left;
    padding: 1%;
    color: #FFF;
    font-size: 14px;
  }
  & > .btn {
    float: right;
    height: 48px;
    padding: 1% 1% 1% 1%;
    color: #CDDC39;
  }
  form{
    float: right;
    height: 48px;
    outline: none;
    & > .btn {
      border: 0px;
      outline: none;
      float: right;
      height: 48px;
      color: #CDDC39;
    }
  }
}
