@import './base.less';
@import './util.less';
@import './material-icons.less';

ol.stepper {
  .list-clean();
  .border-box();
  padding: 8px 16px;
  & > li {
    & > .title {
      margin: 12px 0;
      .clearfix();
      cursor: pointer;
      & > .icon {
        display: inline-block;
        float: left;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.38);
      }
      & > .material-icons {
        display: inline-block;
        float: left;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.38);
        font-weight: 600;
      }
      & > .text {
        display: block;
        padding-left: 40px;
        vertical-align: middle;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.38);
      }
    }
    &.active > .title,
    &.done > .title {
      & > .icon,
      & > .material-icons {
        background-color: #2196F3;
      }
    }
    &.active > .title {
      & > .text {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 500;
      }
    }
    &.done > .title {
      & > .text {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
      }
    }
    & > .content {
      border-left: solid 1px #BDBDBD;
      margin-left: 12px;
      padding: 8px 0;
      padding-left: 28px;
    }
  }
  &.horizontal > li {
    display: inline-block;
    & > .title {
      & > .text {
        padding-left: 30px;
        padding-right: 16px;
      }
    }
  }
  &.horizontal.expand {
    display: table;
    width: 100%;
    & > li {
      display: table-cell;
      float: none;
    }
  }
}
