@import './util.less';

.subheader {
  .border-box();
  height: 48px;
  padding: 14px 16px;
  & > div {
    font-size: 14px;
    line-height: 20px;
    overflow-y: hidden;
    height: 20px;
    color: rgba(0, 0, 0, 0.48);
  }
}
&.dense > .subheader {
  height: 40px;
  padding: 10px 16px;
}
