@import './base.less';
@import './util.less';
@import './shadow.less';
@import './material-icons.less';

.checkbox {
  margin: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  .border-box();
  border: solid 2px rgba(0, 0, 0, 0.57);
  .transition(all, 0.15s);
  border-radius: 2px;
  background-color: #FFF;
  vertical-align: middle;
  .user-select(none);
  text-align: center;
  cursor: pointer;
  & > .material-icons {
    display: none;
  }
  &.checked {
    background-color: #2196F3;
    border: none;
    & > .material-icons {
      display: inline-block;
    }
  }
  & > .material-icons {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #FFF;
  }
  &.half {
    & > .material-icons {
      font-size: 16px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.57);
      display: inline-block;
    }
  }
  &.disabled {
    cursor: not-allowed;
    border-color: rgba(0, 0, 0, 0.26);
    &.checked {
      background-color: rgba(0, 0, 0, 0.26);
    }
  }
  &.dark {
    border-color: rgba(255, 255, 255, 0.7);
    background-color: #555;
    &.checked {
      background-color: #2196F3;
    }
    & > .material-icons {
      color: #555;
    }
    &.half {
      & > .material-icons {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    &.disabled {
      border-color: rgba(255, 255, 255, 0.3);
      &.checked {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  .border-box();
  border: solid 2px rgba(0, 0, 0, 0.57);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  .transition(all, 0.15s);
  &.checked {
    border-color: #2196F3;
    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #2196F3;
      position: absolute;
      top: 3px;
      left: 3px;
    }
  }
  &.disabled {
    cursor: not-allowed;
    border-color: rgba(0, 0, 0, 0.26);
    &.checked {
      &:after {
        background-color: rgba(0, 0, 0, 0.26);
      }
    }
  }
  &.dark {
    border-color: rgba(255, 255, 255, 0.7);
    &.checked {
      border-color: #2196F3;
    }
    &.disabled {
      border-color: rgba(255, 255, 255, 0.3);
      &.checked {
        &:after {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}

.switch {
  display: inline-block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    top: 3px;
    left: 0;
    .transition(all, 0.15s);
  }
  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FAFAFA;
    .box-shadow(2, light);
    position: absolute;
    top: 0;
    left: 0;
    .transition(all, 0.15s);
  }
  &.on {
    &:before {
      background-color: rgba(30, 150, 243, 0.5);
    }
    &:after {
      background-color: rgba(30, 150, 243, 1);
      left: 14px;
      .box-shadow(4, light);
    }
  }
  &.disabled {
    cursor: not-allowed;
    &:before {
      background-color: rgba(0, 0, 0, 0.12);
    }
    &:after {
      background-color: #BDBDBD;
    }
  }
  &.dark {
    &:before {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &:after {
      background-color: #BDBDBD;
    }
    &.on{
      &:before {
        background-color: rgba(144, 202, 249, 0.5);
      }
      &:after {
        background-color: rgba(144, 202, 249, 1);
      }
    }
    &.disabled {
      &:before {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &:after {
        background-color: #424242;
      }
    }
  }
}
