// PESTAÑAS
@import './base.less';
@import './util.less';
@import './material-icons.less';

ul.tabs {
  .list-clean();
  display: block;
  width: 100%;
  background-color: #2196F3;
  font-size: 0;
  text-align: center;
  & > li {
    display: inline-block;
    .border-box();
    padding: 12px;
    padding-bottom: 10px;
    min-width: 72px;
    max-width: 264px;
    text-align: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    .user-select(none);
    .transition(all, 0.15s);
    position: relative;
    border-bottom: solid 2px transparent;
    & > .text {
      display: block;
      font-size: 14px;
      line-height: 24px;
    }
    & > .material-icons {
      width: 24px;
      height: 24px;
    }
    &.active,
    &:hover {
      color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(255, 255, 255, 0.7);
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  &.expand {
    display: table;
    &  > li {
      display: table-cell;
    }
  }
}
