@import './base.less';
@import './util.less';
@import './material-icons.less';
@import './divider.less';

.textfield {
  padding: 16px 0 8px;
  & > .label,
  & > .hint {
    display: block;
    font-size: 15px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.5);
    .transition(all, 0.15s);
    cursor: default;
  }
  & > .hint {
    margin-top: 8px;
  }
  & > .counter {
    float: right;
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.5);
    .transition(all, 0.15s);
    cursor: default;
    & + .hint {
      padding-right: 64px;
    }
  }
  & > .input {
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      .transition(all, 0.15s);
    }
  }
  & > .input > input,
  & > .input > textarea {
    display: block;
    width: 100%;
    padding: 6px 0;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    border: none;
    outline: none;
    .border-box();
  }
  &.focused {
    & > .label {
      color: #2196F3;
    }
    & > .input:after {
      background-color: #2196F3;
      height: 2px;
    }
  }
  &.error {
    & > .label,
    & > .hint,
    & > .counter {
      color: #EF5350;
    }
    & > .input:after {
      height: 2px;
      background-color: #EF5350;
    }
  }
  &.expand {
    padding: 0;
    & > .input {
      &:after {
        height: 0;
      }
      & > input,
      & > textarea {
        padding: 12px 16px;
      }
    }
  }
  &.horizontal {
    .clearfix();
    & > .material-icons {
      display: inline-block;
      padding: 12px;
      float: left;
      color: rgba(0, 0, 0, 0.6);
      .transition(all, 0.15s);
      cursor: default;
    }
    &.focused > .material-icons {
      color: #2196F3;
    }
    & > .input {
      margin: 6px 0;
      margin-left: 64px;
      width: ~'calc(100% - 64px)';
    }
  }
  & > .input > .material-icons {
    display: inline-block;
    padding: 6px;
    position: absolute;
    top: 0;
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
    .user-select(none);
    &.left {
      left: 0;
      right: auto;
      & ~ input,
      & ~ textarea {
        padding-left: 64px;
      }
    }
    &.right {
      left: auto;
      right: 0;
      & ~ input,
      & ~ textarea {
        padding-right: 36px;
      }
    }
    &.btn {
      cursor: pointer;
      .transition(all, 0.15s);
      &:active {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  &.expand > .input > .material-icons {
    padding: 12px;
    &.right {
      & ~ input,
      & ~ textarea {
        padding-right: 48px;
      }
    }
  }
}
