@import './base.less';

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 150px;
  padding: 6px 16px;
  line-height: 15px;
  font-size: 14px;
  display: inline-block;
  
  /* Position the tooltip text */
  position: absolute;
  left: 0;
  top: 100%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}