.clearfix {
  &:after {
    content: '';
    width: 100%;
    height: 0;
    display: block;
    clear: both;
  }
}

.list-clean() {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transition(@attrs: all; @duration: 0.3s; @delay: 0s; @timing-function: ease-in-out) {
  transition: @attrs @duration @delay @timing-function;
}

.user-select(@value: none) {
  user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  -webkit-user-select: @value;
}

.border-box() {
  box-sizing: border-box;
}
