<%- include('../layouts/toolbar.ejs'); -%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Agenda de <%=session.nombre%></h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th><%='Hora'%></th>
                <% for(i = 0; i < semana.length; i++){ %>
                    <th><%=semana[i]%></th>
                <% } %>
            </tr>
        </thead>         
                <% for(i = 0; i < 8; i++){ %>
                    <tr>
                    <% if(i == 0){ %>
                        <th><%='9:00'%></th>
                    <% }else if(i == 1){ %>
                        <th><%='10:30'%></th>
                    <% }else if(i == 2){ %>
                        <th><%='12:00'%></th>
                    <% }else if(i == 3){ %>
                        <th><%='13:30'%></th>
                    <% }else if(i == 4){ %>
                        <th><%='15:00'%></th>
                    <% }else if(i == 5){ %>
                        <th><%='16:30'%></th>
                    <% }else if(i == 6){ %>
                        <th><%='18:00'%></th>
                    <% }else if(i == 7){ %>
                        <th><%='19:30'%></th>
                    <% } %>
                    
                    <% if(matriz[i] != false){ %>
                    <th><%=matriz[i]%></th>
                    <% }else{ %>
                    <th></th>
                    <% } %>

                    <% if(matriz[i+8] != false){ %>
                    <th><%=matriz[i+8]%></th>
                    <% }else{ %>
                    <th></th>
                    <% } %>

                    <% if(matriz[i+16] != false){ %>
                    <th><%=matriz[i+16]%></th>
                    <% }else{ %>
                    <th></th>
                    <% } %>

                    <% if(matriz[i+24] != false){ %>
                    <th><%=matriz[i+24]%></th>
                    <% }else{ %>
                    <th></th>
                    <% } %>

                    <% if(matriz[i+32] != false){ %>
                    <th><%=matriz[i+32]%></th>
                    <% }else{ %>
                    <th></th>
                    <% } %>

                    <% if(matriz[i+40] != false){ %>
                    <th><%=matriz[i+40]%></th>
                    <% }else{ %>
                    <th></th>
                    <% } %>

                    <% if(matriz[i+48] != false){ %>
                    <th><%=matriz[i+48]%></th>
                    <% }else{ %>
                    <th></th>
                    <% } %>

                    </tr>
                <% } %>
            </table>
        <div class="table-navegation">
            <% if(incremento > 7){ %>
                <form class="before" action="/verMiAgenda" method="get">
                    <input type='hidden' name='incremento' value=<%=(incremento-14)%>>
                    <button type="submit" class="material-icons">navigate_before</button>
                </form>
            <% } %>
            <form class="next" action="/verMiAgenda" method="get">
                <input type='hidden' name='incremento' value=<%=incremento%>>
                <button type="submit" class="material-icons">navigate_next</button>
            </form>
        </div>
  </div>
</div>

<%- include('../layouts/footer.ejs'); -%>