<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/gestionarreservas/borrar' method='post'>
    <p>¿Estás seguro de que quieres cancelar la reserva <%=codReserva%> ?</p>
    <input type='hidden' id='codReserva' name='codReserva' value=<%=codReserva%>>
    <div class="divider"></div>
    <input class="btn-accept" value="Cancelar reserva" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>