<%- include('../layouts/toolbar.ejs'); -%>
<% 
    if(records.length > 0) { 
%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Nueva Reserva: Elige Pista</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Código</th>
                <th>Superficie</th>
                <th>Tipo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <td data-title="Código"><%=records[i].codPista%></td>
                    <td data-title="Superficie"><%=records[i].superficie%></td>
                    <td data-title="Tipo"><%if(records[i].interior){%>
                        Interior
                    <%} else {%>
                        Exterior
                    <%}%>
                    </td>
                    <td data-title="">
                        <form action='/gestionarreservas/hora' method='get' name='deleteButton'>
                            <input type='hidden' name='codPista' value=<%=records[i].codPista%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' type='submit'>date_range</button>
                                <span class="tooltiptext">Reserva esta pista</span>
                            </div>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% } else { %>
    <div class='form'>
        <h2>Nueva Reserva: Elige Pista</h2>
        <p>No hay pistas registradas en el sistema.</p>
        <p>Lo sentimos. Inténtalo de nuevo en otro momento.</p>
    </div>
<% } %>
<%- include('../layouts/footer.ejs'); -%>