<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="insert" action="/gestionarreservas/nuevo" method="post">
        <h2>Reserva en Pista <%=pista%>: Elige Día y hora</h2>
        <input type='hidden' name='codPista' value=<%=pista%>>
        <section>
            <table>
                <tr>
                    <% for(i = 0; i < horasDisponibles.length; i++){ 
                        var fecha = new Date();
                        fecha.setDate(fecha.getDate() + i);
                    %>
                        <th><%=fecha.toLocaleDateString()%></th>
                    <%}%>
                </tr>   
                <tr>
                    <% for(i = 0; i < horasDisponibles.length; i++){ %>
                        <td>
                            <% if(horasDisponibles[i][0]) {%>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%> disabled> 9:00</input><br>
                            <% } else { %>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%>> 9:00</input><br>
                            <% }
                            if(horasDisponibles[i][1]) {%>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%> disabled>10:30</input><br>
                            <% } else { %>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+1%>>10:30</input><br>
                            <% }
                            if(horasDisponibles[i][2]) {%>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%> disabled>12:00</input><br>
                            <% } else { %>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+2%>>12:00</input><br>
                            <% }
                            if(horasDisponibles[i][3]) {%>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%> disabled>13:30</input><br>
                            <% } else { %>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+3%>>13:30</input><br>
                            <% }
                            if(horasDisponibles[i][4]) {%>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%> disabled>15:00</input><br>
                            <% } else { %>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+4%>>15:00</input><br>
                            <% }
                            if(horasDisponibles[i][5]) {%>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%> disabled>16:30</input><br>
                            <% } else { %>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+5%>>16:30</input><br>
                            <% }
                            if(horasDisponibles[i][6]) {%>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%> disabled>18:00</input><br>
                            <% } else { %>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+6%>>18:00</input><br>
                            <% }
                            if(horasDisponibles[i][7]) {%>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+0%> disabled>19:30</input><br>
                            <% } else { %>
                                <input required class="checkbox" type="radio" name="dia" value=<%=(i*10)+7%>>19:30</input><br>
                            <% } %>
                        </td>
                    <% } %>
                </tr>
            </table>
        </section>
        <div class="divider"></div>
        <input class="btn-accept" value="Reservar" type="submit"></input>
    </form>
  </div>
</div>

<%- include('../layouts/footer.ejs'); -%>