<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/gestionarreservas/save' method='post'>
    <h2>Nueva Reserva</h2>
    <% if(!error){ %>
        <p>La reserva tendrá un coste de <%=precio%>€</p>
        <table>
            <tr>
                <td>Pista:</td>
                <td><%=reserva.codPista%></td>
            </tr>
            <tr>
                <td>Fecha:</td>
                <td><%=reserva.fecha%></td>
            </tr>
        </table>
        <input type='hidden' id='fecha' name='fecha' value=<%=reserva.fecha%>>
        <input type='hidden' id='hora' name='hora' value=<%=reserva.hora%>>
        <input type='hidden' id='pista' name='codPista' value=<%=reserva.codPista%>>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    <% } else { %>
        <p>No puedes tener más de cinco reservas activas.</p>
        <div class="divider"></div>
        <button class="btn-accept" type="button" onclick="location.href='/gestionarreservas'" name="cancel">Aceptar</button>
    <% } %>
</form>
<%- include('../layouts/footer.ejs'); -%>