<%- include('../layouts/toolbar.ejs'); -%>
            <% 
            if(records.length > 0) { 
            %>
                <div class="table-responsive-vertical shadow-z-1">
                    <% if(session.tipo === 2){ %>
                        <h2>Gestión de Reservas</h2>
                    <%} else {%>
                        <h2>Mis Reservas</h2>
                    <%}%>
                        <table id="table" class="table table-hover table-mc-light-blue">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <% if(session.tipo === 2){ %>
                                        <th>Usuario</th>
                                    <%}%>
                                    <th>Fecha</th>
                                    <th>Pista</th>
                                </tr>
                            </thead>
                            <tbody>
                <%
                for(i = 0; i < records.length; i++){ 
                %>
                    <tr>
                        <td data-title="ID"><%=records[i].codReserva%></td>
                        <% if(session.tipo === 2){ %>
                            <td data-title="Usuario"><%=records[i].codUsr%></th>
                        <%}%>
                        <td data-title="Fecha"><%=records[i].fecha%></td>
                        <td data-title="Pista"><%=records[i].codPista%></td>
                        <td>
                            <% if(records[i].horasRestantes < 12){ %>
                                <div class="material-button tooltip">
                                    <button class='material-icons' id='delete' disabled='true'>cancel</button>
                                    <span class="tooltiptext">Faltan menos de 12 horas</span>
                                </div>
                            <% } else { %>
                                <form id='oculto' action='/gestionarreservas/borrar' method='get' name='deleteButton'>
                                    <input type='hidden' name='codReserva' value=<%=records[i].codReserva%>>
                                    <div class="material-button tooltip">
                                        <button class='material-icons' id='delete' type='submit'>cancel</button>
                                        <span class="tooltiptext">Cancelar reserva</span>
                                    </div>
                                </form>
                            <% } %>
                        </td>
                    </tr>
            <% } %>
                        </tbody>
                    </table>
                </div>
            <% } else { %>
                <p>No tienes ninguna reserva aún.</p>
            <% } %>
        
<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class="material-icons" onclick="location.href='/gestionarreservas/pista'">date_range</span>
        <span class="tooltiptext">Reservar pista</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>