<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/inscribirseenpartido/borrar' method='post'>
    <h2>Cancelar inscripción en Partido</h2>
    <p>¿Estás seguro de que quieres cancelar tu inscripción en el partido <%=codPartido%>?</p>
    <input type='hidden' id='codPartido' name='codPartido' value=<%=codPartido%>>
    <div class="divider"></div>
    <input class="btn-accept" id="modificar" name="modificar" value="Aceptar" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>