<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/inscribirseenpartido/confirmInsert' method='post'>
    <h2>Inscribirse en Partido</h2>
    <p>La inscripción tendrá un coste de <%=precio%>€</p>
    <input type='hidden' id='codPartido' name='codPartido' value=<%=codPartido%>>
    <div class="divider"></div>
    <input class="btn-accept" id="modificar" name="modificar" value="Aceptar" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>