<%- include('../layouts/toolbar.ejs'); -%>
<% 
    if(records.length > 0) { 
%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Inscribirse en Partido Promocionado</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Promotor</th>
                <th>Reserva</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <td data-title="ID"><%=records[i].codPartido%></td>
                    <td data-title="Fecha"><%=records[i].fecha%></td>
                    <td data-title="Promotor"><%=records[i].promotor%></td>
                    <td data-title="Reserva"><%=records[i].codReserva%></td>
                    <td>
                        <% if(inscrito.includes(records[i].codPartido)) {%>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='delete' disabled='true'>group_add</button>
                                <span class="tooltiptext">Ya estás inscrito en este partido</span>
                            </div>
                        <% } else { %>
                            <form id='oculto' action='/inscribirseenpartido/nuevo' method='POST' name='registerButton'>
                                <input type='hidden' name='codPartido' value=<%=records[i].codPartido%>>
                                <div class='material-button tooltip'>
                                    <button class='material-icons' id='register' type='submit'>group_add</button>
                                    <span class="tooltiptext">Inscribirse en este partido</span>
                                </div>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% } else { %>
    <div class='form'>
        <h2>Inscribirse en Partido Promocionado</h2>
        <p>No hay partidos abiertos aún.</p>
    </div>
<% } %>
<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class="material-icons" type="button" onclick="location.href='/promocionarpartido'">add</span>
        <span class="tooltiptext">Promociona un partido</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>