<%- include('../layouts/toolbar.ejs'); -%>
<% 
if(records.length > 0) { 
%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Mis Partidos</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Promotor</th>
                <th>Reserva</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <td data-title="ID"><%=records[i].codPartido%></td>
                    <td data-title="Fecha"><%=records[i].fecha%></td>
                    <td data-title="Promotor"><%=records[i].promotor%></td>
                    <td data-title="Reserva"><%=records[i].codReserva%></td>
                    <td>
                        <% if (records[i].codReserva === ''){ %>
                            <form id='oculto' action='/inscribirseenpartido/borrar' method='GET' name='deleteButton'>
                                <input type='hidden' name='codPartido' value=<%=records[i].codPartido%>>
                                <div class='material-button tooltip'>
                                    <button class='material-icons' id='delete' type='submit'>cancel</button>
                                    <span class="tooltiptext">Cancelar inscripción</span>
                                </div>
                            </form>
                        <% } else { %>
                            <div class="material-button tooltip">
                                <button class='material-icons' id='delete' disabled='true'>cancel</button>
                                <span class="tooltiptext">El periodo de cancelación ha caducado</span>
                            </div>
                        <% } %> 
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% } else { %>
    <div class='form'>
        <h2>Mis Partidos</h2>
        <p>No estás aún inscrito en ningún partido.</p>
    </form>
<% } %>
<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class="material-icons" type="button" onclick="location.href='/inscribirseenpartido'">group_add</span>
        <span class="tooltiptext">Inscribirte en un partido</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>