<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/promocionarpartido/borrar' method='post'>
    <h2>Eliminar Partido</h2>
    <p>¿Estás seguro de que quieres borrar el partido <%=codPartido%> ?</p>
    <input type='hidden' id='codPartido' name='codPartido' value=<%=codPartido%>>
    <div class="divider"></div>
    <input class="btn-accept" value="Borrar" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>