<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form" id="edit" action="/promocionarpartido/modificar" method="post">
        <h2>Modificar Partido</h2>
        <input type='hidden' name='codPartido' value=<%=record.codPartido%>>
        <div class="textfield">
            <span class="label">Fecha</span>
            <div class="input">
                <input id="fecha" name="fecha" required type="date" value=<%=record.fecha%>></input>
            </div>
        </div>   
        <div class="textfield">
            <span class="label">Hora</span><br>
            <% if(record.hora === 0) { %>
                <input class="checkbox" type="radio" name="hora" value="0" checked> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 1){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1" checked>10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 2){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2" checked>12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>                    
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 3){ %>                        
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>                    
                <input class="checkbox" type="radio" name="hora" value="3" checked>13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 4){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4" checked>15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 5){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5" checked>16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 6){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6" checked>18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } else if(record.hora === 7){ %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7" checked>19:30</input><br>
            <% } else { %>
                <input class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            <% } %>
            </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Cambiar horario" type="submit"></input>
    </form>
  </div>
</div>
<%- include('../layouts/footer.ejs'); -%>