<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="insert" action="/promocionarpartido/nuevo" method="post">
        <h2>Promocionar Partido</h2>
        <div class="textfield">
            <span class="label">Fecha</span>
            <div class="input">
                <input required id="fecha" name="fecha" required type="date"></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Hora<span class="label">
            <div class="input">
                <input required class="checkbox" type="radio" name="hora" value="0"> 9:00</input><br>
                <input required class="checkbox" type="radio" name="hora" value="1">10:30</input><br>
                <input required class="checkbox" type="radio" name="hora" value="2">12:00</input><br>
                <input required class="checkbox" type="radio" name="hora" value="3">13:30</input><br>
                <input required class="checkbox" type="radio" name="hora" value="4">15:00</input><br>
                <input required class="checkbox" type="radio" name="hora" value="5">16:30</input><br>
                <input required class="checkbox" type="radio" name="hora" value="6">18:00</input><br>
                <input required class="checkbox" type="radio" name="hora" value="7">19:30</input><br>
            </div>
        </div>
    <div class="divider"></div>
    <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
  </div>
</div>

  <%- include('../layouts/footer.ejs'); -%>