<%- include('../layouts/toolbar.ejs'); -%>
<% 
if(records.length > 0) { 
%>

<div class="table-responsive-vertical shadow-z-1">
    <% if(session.tipo === 2){ %>
        <h2>Gestión de Partidos Promocionados</h2>
    <% } else { %>
        <h2>Gestión de Partidos Privados</h2>
    <% } %>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Promotor</th>
                <th>Reserva</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <td data-title="ID"><%=records[i].codPartido%></td>
                    <td data-title="Fecha"><%=records[i].fecha%></td>
                    <td data-title="Promotor"><%=records[i].promotor%></td>
                    <td data-title="Reserva"><%=records[i].codReserva%></td>
                    <td data-title="">
                        <form id='oculto' action='/promocionarpartido/modificar' method='get' name='editButton'>
                            <input type='hidden' name='codPartido' value=<%=records[i].codPartido%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='edit' type='submit'>edit</button>
                                <span class="tooltiptext">Modificar horario del partido</span>
                            </div>  
                        </form>
                    </td>
                    <td data-title="">
                        <form id='oculto' action='/promocionarpartido/borrar' method='get' name='deleteButton'>
                            <input type='hidden' name='codPartido' value=<%=records[i].codPartido%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='delete' type='submit'>delete</button>
                                <span class="tooltiptext">Eliminar partido</span>
                            </div>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% } else { %>
    <div class='form'>
        <% if(session.tipo === 2){ %>
            <h2>Gestión de Partidos Promocionados</h2>
            <p>No hay partidos promocionados aún.</p>
        <% } else { %>
            <h2>Gestión de Partidos Privados</h2>
            <p>No has promocionado ningún partido aún.</p>
        <% } %>
    </div>
<% } %>

<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class="material-icons" onclick="location.href='/promocionarpartido/nuevo'">add</span>
        <span class="tooltiptext">Promocionar Partido</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>