<%- include('../layouts/toolbar.ejs'); -%>
<% if(record.banco.length > 0){ %>
  <div class="form">
    <p>Estamos validando su información bancaria.</p>
    <p>Por favor, manténgase a la espera.</p>
    <div class="divider"></div>
    <div class="clearfix">
      <button class="btn light flat" onclick="location.href='/'">Aceptar</button>
    </div>
  </div>
<%} else {%>
  <div className="edit">
      <form class="form" id="edit" action="/gestionarusuarios/altaSocio" method="post" enctype="multipart/form-data">
          <p>Suba una copia de la orden de domiciliación bancaria.</p>
          <input type="file" name="banco" accept="application/pdf" required></input>
          <p>La solicitud será validada por un administrador en breves momentos.</p>
          <div class="divider"></div>
          <input class="btn-accept" value="Aceptar" type="submit"></input>
      </form>
    </div>
  </div>
<% } %>
<%- include('../layouts/footer.ejs'); -%>