<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form"  id="edit" action="/gestionarusuarios/bajaSocio" method="post">
      <input hidden id="codUsr" name="codUsr" type="number" value='<%=record.codUsr%>'' readonly></input>
        <p>¿Estás seguro de que deseas darte de baja como socio?</p>
        <p>Perderás innumerables ventajas y descuentos... Aunque puedes volver a darte de alta cuando quieras.</p>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
  </div>
</div>

  <%- include('../layouts/footer.ejs'); -%>