<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form" id="edit" action="/confirmarCambioPassword" method="post">
        <input hidden id="codUsr" name="codUsr" type="number" value='<%=record.codUsr%>''></input>
        <input hidden id="hash" name="hash" type="number" value='<%=hash%>''></input>
        <div class="textfield">
            <div class="input">
                <span class="label">Correo Electrónico</span>
                <input required id="correo" name="correo" required type="email" value='<%=record.correo%>' readonly></input>
            </div>
        </div>
        <div class="textfield">
            <div class="input">
                <span class="label">Introduce tu nueva contraseña</span>
                <input id="password" name="password" required type="password" maxlength="20"></input>
            </div>
        </div>
        <div class="textfield">
            <div class="input">
                <span class="label">Repite tu nueva contraseña</span>
                <input id="passwordRepeat" name="passwordRepeat" required type="password" maxlength="20"></input>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
</div>
<%- include('../layouts/footer.ejs'); -%>