<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/gestionarusuarios/borrar' method='post'>
    <h2>Eliminar Cuenta de Usuario</h2>
    <p>¿Estás seguro de que quieres borrar el usuario <%=codUsr%>?</p>
    <input type='hidden' id='codUsr' name='codUsr' value=<%=codUsr%>>
    <div class="divider"></div>
    <input class="btn-accept" value="Aceptar" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>