<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form" id="edit" action="/gestionarusuarios/modificar" method="post">
        <h2>Modificar Usuario</h2>
        <input hidden id="codUsr" name="codUsr" type="number" value='<%=record.codUsr%>'' readonly></input>
        <div class="textfield">
            <span class="label">Correo Electrónico</span>
            <div class="input">
                <input required id="correo" name="correo" required type="email" maxlength="320" value='<%=record.correo%>''>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Nombre</span>
            <div class="input">
                <input required id="nombre" name="nombre" required maxlength="30" type="text" value='<%=record.nombre%>''></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Apellidos</span>
            <div class="input">
                <input required id="apellidos" name="apellidos" required maxlength="255" type="text" value='<%=record.apellidos%>''></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Fecha de Nacimiento</span>
            <div class="input">
                <input required id="fechaNac" name="fechaNac" required type="date" value='<%=record.fechaNac%>''></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Genero<span class="label">
            <div class="input">
                <% if(record.genero == 'hombre'){ %>
                    <input required class="checkbox" type="radio" name="genero" value="hombre" checked>Hombre</input>
                    <input required class="checkbox" type="radio" name="genero" value="mujer">Mujer</input>
                <% }else{ %>
                    <input required class="checkbox" type="radio" name="genero" value="hombre">Hombre</input>
                    <input required class="checkbox" type="radio" name="genero" value="mujer" checked>Mujer</input>
                <% } %>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
</div>
<%- include('../layouts/footer.ejs'); -%>
