<%- include('../layouts/toolbar.ejs'); -%>
<div class='form'>
    <h2>Cambiar contraseña</h2>
    <p>Se ha enviado un correo electrónico a su dirección con las instrucciones para cambiar tu contraseña.</p>
    <p>Gracias por utilizar nuestro servicio.</p>
</div>
<%- include('../layouts/footer.ejs'); -%>