<%- include('../layouts/toolbar.ejs'); -%>
<div className="insert">
    <form class="form" id="insert" action="/gestionarusuarios/nuevo" method="post">
        <h2>Nuevo Usuario</h2>
        <div class="textfield">
            <span class="label">Correo Electrónico</span>
            <div class="input">
                <input id="correo" name="correo" required type="email" maxlength="320"></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Nombre</span>
            <div class="input">
                <input id="nombre" name="nombre" required type="text" maxlength="30"></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Apellidos</span>
            <div class="input">
                <input id="apellidos" name="apellidos" required type="text" maxlength="255"></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Fecha de Nacimiento</span>
            <div class="input">
                <input id="fechaNac" name="fechaNac" required type="date"></input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Genero<span class="label">
            <div class="input">
                <input class="checkbox" type="radio" name="genero" value="hombre">Hombre</input>
                <input class="checkbox" type="radio" name="genero" value="mujer">Mujer</input>
            </div>
        </div>
        <div class="textfield">
            <span class="label">Password</span>
            <div class="input">
                <input id="password" name="password" required type="password" maxlength="20"></input>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
  </div>
</div>
<%- include('../layouts/footer.ejs'); -%>