<%- include('../layouts/toolbar.ejs'); -%>
<div className="login">
    <form class="form-login" id="login" action="/login" method="post">
        
        <span class="label"><h2>Identifícate</h2></span>

        <div class="textfield">
            <div class="input">
                <span class="label">Correo Electrónico</span>
                <input id="correo" name="correo" required type="text"></input>
            </div>
        </div>

        <div class="textfield">
            <div class="input">
                <span class="label">Password</span>
                <input id="password" name="password" required type="password"></input>
            </div>
        </div>
        <a href="/recuperarPassword">He olvidado mi contraseña</a>
        <div class="divider"></div>
        <input class="btn-accept" value="Acceder" type="submit"></input>
     </form>
  </div>
</div>

  <%- include('../layouts/footer.ejs'); -%>