<%- include('../layouts/toolbar.ejs'); -%>
<h2>Bienvenido, ¿que quieres hacer hoy?</h2>
<div class="profile">
    <div class="profile-avatar">
        <% if(session.avatar === 'estandar'){ 
            if(records.genero === 'hombre') {%>
               <img src="/images/Male-Avatar.png"  />
           <% } else { %>
               <img src="/images/Female-Avatar.png"  />
           <% }
       } else { %>
           <img src="<%=session.avatar%>"/>
       <% } %>
        <table>
            <tr>
                <th>
                    <form action='/gestionarusuarios/cambiarAvatar' method='POST' name='editButton' enctype="multipart/form-data">
                        <input type="file" id="avatar" name="avatar" accept="image/png" required>
                        <div class="clearfix">
                            <button class="btn light flat" id='edit' type='submit'>Cambiar</button>
                        </div>
                    </form>
                </th>
                <th>
                    <% if(records.esSocio){ %>
                        <form id='oculto' action='/gestionarusuarios/bajaSocio' method='get' name='editButton'>
                            <input type='hidden' name='codUsr' value=<%=records.codUsr%>>
                            <div class="clearfix">
                                <button class="btn light flat" id='edit' type='submit'>Dar de Baja Socio</button>
                            </div>
                        </form>
                    <% } else {%>
                        <form id='oculto' action='/gestionarusuarios/altaSocio' method='get' name='editButton'>
                            <input type='hidden' name='codUsr' value=<%=records.codUsr%>>
                            <div class="clearfix">
                                <button class="btn light flat" id='edit' type='submit'>Dar de Alta Socio</button>
                            </div>
                        </form>
                    <% } %>
                </th>
            </tr>
            <tr>
                <th>
                    <form id='oculto' action='/gestionarusuarios/cambiarPassword' method='get' name='editButton'>
                        <input type='hidden' name='codUsr' value=<%=records.codUsr%>>
                        <div class="clearfix">
                            <button class="btn light flat" id='edit' type='submit'>Cambiar Contraseña</button>
                        </div>
                    </form>
                </th>
                <th>
                    <form id='oculto' action='/verMisEstadisticas' method='get' name='editButton'>
                        <div class="clearfix">
                            <button class="btn light flat" id='edit' type='submit'>Mis estadísticas</button>
                        </div>
                    </form>
                </th>
            </tr>
        </table>
    </div>
    <table class='profile-grid'>        
        <tr>
            <th>
                Nombre
            </th>
            <th>
                <%=records.nombre%>
            </th>
        </tr>
        <tr>
            <th>
                Apellidos
            </th>
            <th>
                <%=records.apellidos%>
            </th>
        </tr>
        <tr>
            <th>
                Correo Electrónico
            </th>
            <th>
                <%=records.correo%>
            </th>
        </tr>
        <tr>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                <%=records.fechaNac%>
            </th>
        </tr> 
    </table>
    <table class='cou-grid'>
        <%switch(session.tipo){
            case 2:%>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarusuarios'">person</label>
                        <span class='name'>Gestión de Usuarios</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarcampeonatos'">event_note</label>
                        <span class='name'>Gestión de Campeonatos</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarescueladeportiva'">chrome_reader_mode</label>
                        <span class='name'>Gestión de Escuelas</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarprecios'">euro_symbol</label>
                        <span class='name'>Gestión de Precios</span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarpistas'">view_list</label>
                        <span class='name'>Gestión de Pistas</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarcontenido'">photo</label>
                        <span class='name'>Contenido Dinámico</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/verMiAgenda'">chrome_reader_mode</label>
                        <span class='name'>Agenda</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/#'">list</label>
                        <span class='name'>Estadísticas</span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarNotificaciones'">mail_outline</label>
                        <span class='name'>Gestión de Mensajes</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/promocionarpartido'">directions_run</label>
                        <span class='name'>Gestión de Partidos</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/inscribirseenpartido/mispartidos'">directions_run</label>
                        <span class='name'>Inscripciones en Partido</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarreservas'">event_available</label>
                        <span class='name'>Gestión de Reservas</span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/miscampeonatos'">event_note</label>
                        <span class='name'>Inscripciones en Campeonatos</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/misescuelas'">chrome_reader_mode</label>
                        <span class='name'>Inscripciones en Escuelas</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/misclasesparticulares'">chrome_reader_mode</label>
                        <span class='name'>Inscripciones en Clases</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/verClasificacion'">list</label>
                        <span class='name'>Clasificación</span>
                    </th>
                </tr>
                <%break;%>
            <%case 1:%>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarescueladeportiva'">chrome_reader_mode</label>
                        <span class='name'>Gestión de Escuelas</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/verMiAgenda'">chrome_reader_mode</label>
                        <span class='name'>Agenda</span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarNotificaciones'">mail_outline</label>
                        <span class='name'>Gestión de Mensajes</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/promocionarpartido'">directions_run</label>
                        <span class='name'>Gestión de Partidos</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/inscribirseenpartido/mispartidos'">directions_run</label>
                        <span class='name'>Inscripciones en Partido</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarreservas'">event_available</label>
                        <span class='name'>Gestión de Reservas</span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/miscampeonatos'">event_note</label>
                        <span class='name'>Inscripciones en Campeonatos</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/misescuelas'">chrome_reader_mode</label>
                        <span class='name'>Inscripciones en Escuelas</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/misclasesparticulares'">chrome_reader_mode</label>
                        <span class='name'>Inscripciones en Clases</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/verClasificacion'">list</label>
                        <span class='name'>Clasificación</span>
                    </th>
                </tr>
                <%break;%>
            <%case 0:%>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarNotificaciones'">mail_outline</label>
                        <span class='name'>Gestión de Mensajes</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/promocionarpartido'">directions_run</label>
                        <span class='name'>Gestión de Partidos</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/inscribirseenpartido/mispartidos'">directions_run</label>
                        <span class='name'>Inscripciones en Partido</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/gestionarreservas'">event_available</label>
                        <span class='name'>Gestión de Reservas</span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <label class="material-icons" onclick="location.href='/miscampeonatos'">event_note</label>
                        <span class='name'>Inscripciones en Campeonatos</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/misescuelas'">chrome_reader_mode</label>
                        <span class='name'>Inscripciones en Escuelas</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/misclasesparticulares'">chrome_reader_mode</label>
                        <span class='name'>Inscripciones en Clases</span>
                    </th>
                    <th>
                        <label class="material-icons" onclick="location.href='/verClasificacion'">list</label>
                        <span class='name'>Clasificación</span>
                    </th>
                </tr>
                <%break;%>
            <%}%>
    </table>
</div>
<%- include('../layouts/footer.ejs'); -%>