<%- include('../layouts/toolbar.ejs'); -%>
<div className="edit">
    <form class="form" id="edit" action="/recuperarPassword" method="post">
        <div class="textfield">
            <div class="input">
                <span class="label">Correo Electrónico</span>
                <input required id="correo" name="correo" required type="email"></input>
            </div>
        </div>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
</div>
<%- include('../layouts/footer.ejs'); -%>