<%- include('../layouts/toolbar.ejs'); -%>
<% 
    if(records.length > 0) { 
%>
<div class="table-responsive-vertical shadow-z-1">
    <h2>Gestión de Usuarios</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Código</th>
                <th>Correo Electrónico</th>
                <th></th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha de Nacimiento</th>
                <th>Género</th>
                <th>Socio</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %>
                <tr>
                    <td data-title="Código"><%=records[i].codUsr%></td>
                    <td data-title="Correo Electrónico"><%=records[i].correo%></td>
                    <td data-title="">
                        <form name='oculto' action='/gestionarNotificaciones/enviar' method='get' name='insert'>
                            <input type='hidden' name='destinatario' value=<%=records[i].correo%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='insert' type='submit'>email</button>
                                <span class="tooltiptext">Enviar mensaje</span>
                            </div>
                        </form>
                    </td>
                    <td data-title="Nombre"><%=records[i].nombre%></td>
                    <td data-title="Apellidos"><%=records[i].apellidos%></td>
                    <td data-title="Fecha de Nacimiento"><%=records[i].fechaNac%></td>
                    <td data-title="Género"><%=records[i].genero%></td>
                    <td data-title="Socio">
                        <% if(records[i].esSocio) {%> Si
                        <% } else { %> No <% } %>
                        </td>
                    <td data-title="">
                        <form action='/gestionarusuarios/modificar' method='get' name='editButton'>
                            <input type='hidden' name='codUsr' value=<%=records[i].codUsr%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='edit' type='submit'>edit</button>
                                <span class="tooltiptext">Modificar datos de usuario</span>
                            </div>
                        </form>
                    </td>
                    <td data-title="">
                        <form action='/gestionarusuarios/borrar' method='get' name='deleteButton'>
                            <input type='hidden' name='codUsr' value=<%=records[i].codUsr%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='delete' type='submit'>delete</button>
                                <span class="tooltiptext">Eliminar cuenta de usuario</span>
                            </div>
                        </form>
                    </td>
                    <td data-title="">
                        <% if(records[i].esSocio) {%>
                            <form action="/gestionarusuarios/bajaSocio" method="post">
                                <input hidden id="codUsr" name="codUsr" type="number" value='<%=records[i].codUsr%>'' readonly></input>
                                <div class="material-button tooltip">
                                    <button class="material-icons" id="edit" type="submit">cancel</button>
                                    <span class="tooltiptext">Dar de baja como socio</span>
                                </div>
                            </form>
                        <% } %>
                    </tddata-title="">
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% } else { %>
    <div class='form'>
        <h2>Gestión de Usuarios</h2>
        <p>No hay ningún usuario registrado aún en el sistema.</p>
    </div>
<% } %>

<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class='material-icons' onclick="location.href='/gestionarusuarios/nuevo'">person_add</span>
        <span class="tooltiptext">Nuevo usuario</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>