<%- include('../layouts/toolbar.ejs'); -%>
<table id="delete">
    <tr>
        <th>codLiga</th>
        <th>codCamp</th>
        <th>codUsr1</th>
        <th>codUsr2</th>
    </tr>
    <% for(i = 0; i < records.length; i++){ %>
        <tr>
            <th><%=records[i].codLiga%></th>
            <th><%=records[i].codCamp%></th>
            <th><%=records[i].codUsr1%></th>
            <th><%=records[i].codUsr2%></th>
            <th>
                <form id='oculto' action='/inscribirseEnCampeonato/confirmDelete' method='get' name='deleteButton'>
                    <input type='hidden' name='codLiga' value=<%=records[i].codLiga%>>
                    <input type='hidden' name='codCamp' value=<%=records[i].codCamp%>>
                    <input type='hidden' name='codUsr1' value=<%=records[i].codUsr1%>>
                    <input type='hidden' name='codUsr2' value=<%=records[i].codUsr2%>>
                    <button id='delete' type='submit'>Borrar</button>
                </form>
            </th>
        </tr>
    <% } %>
</table>
<%- include('../layouts/footer.ejs'); -%>