<%- include('../layouts/toolbar.ejs'); -%>

<div className="insert">
    <form class="form" id="insert" action="/gestionarInscripcionCampeonato/nuevo" method="post">

        <div class="textfield">
        <div class="input">
            <span class="label">Campeonato</span>
            <input id="nombreCamp" name="nombreCamp" required type="string" value='<%=nombreCamp%>'' readonly></input>
            <input type='hidden' name='codCamp' value=<%=codCamp%>>
        </div>
        </div>

        <div class="textfield">
        <div class="input">
            <span class="label">Categoria</span>
            <input id="nombreCat" name="nombreCat" required type="string" value='<%=nombreCat%>'' readonly></input>
            <input type='hidden' name='codCategoria' value=<%=codCategoria%>>
        </div>
        </div>

        <div class="textfield">
        <div class="input">
            <span class="label">Nivel</span>
            <input id="nombreNivel" name="nombreNivel" required type="string" value='<%=nombreNivel%>'' readonly></input>
            <input type='hidden' name='codNivel' value=<%=codNivel%>>
        </div>
        </div>

        <div class="textfield">
        <div class="input">
            <span class="label">Correo del capitan</span>
            <input id="correoCapitan" name="correoCapitan" required type="string" value='<%=session.correo%>'' readonly></input>
            <input type='hidden' name='codUsr1' value=<%=session.codUsr%>>
            <input type='hidden' name='genero' value=<%=genero%>>
        </div>
        </div>

        <div class="textfield">
        <div class="input">
            <span class="label">Correo del jugador</span>
            <input id="correo" name="correo" required type="string"></input>
        </div>
        </div>

        <div class="divider"></div>
        <input class="btn-accept" value="Enviar petición" type="submit"></input>
    </form>
  </div>

  <%- include('../layouts/footer.ejs'); -%>