<%- include('../layouts/toolbar.ejs'); -%>
<form id='oculto' class="form" action='/gestionarInscripcionescueladeportiva/borrar' method='post'>
    <h2>Cancelar inscripción en escuela deportiva</h2>
    <p>¿Estás seguro de que quieres desinscribirte de <%=escuela%>?</p>
    <input type='hidden' id='escuela' name='escuela' value=<%=escuela%>>
    <div class="divider"></div>
    <input class="btn-accept" id="modificar" name="modificar" value="Cancelar inscripción" type="submit"></input>
</form>
<%- include('../layouts/footer.ejs'); -%>