<%- include('../layouts/toolbar.ejs'); -%>
    <%if(aceptar === true){ %>
    <form id='oculto' class="form" action='/gestionarInscripcionescueladeportiva/nuevo' method='post'>
        <h2>Inscripción en escuela deportiva</h2>
        <p>La inscripción tendrá un coste de <%=precio%>€</p>
        <input type='hidden' id='codEsc' name='codEsc' value=<%=codEsc%>>
        <div class="divider"></div>
        <input class="btn-accept" value="Aceptar" type="submit"></input>
    </form>
    <% } else{ %>
    <div class="form">
        <h2>Inscripción en escuela deportiva</h2>
        <p>No se puede realiza la inscripción porque ya se ha superado el cupo máximo de deportistas.</p></form>
    </div>
    <% } %>
</form>
<%- include('../layouts/footer.ejs'); -%>