<%- include('../layouts/toolbar.ejs'); -%>
<% 
if(records.length > 0) { 
%>

<div class="table-responsive-vertical shadow-z-1">
    <h2>Mis escuelas</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead><tr>
            <th>Escuela Deportiva</th>
        </tr></thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ %> 

                <tr>
                    <th><%=nombres[i]%></th>
                    <th>
                        <form id='oculto' action='/gestionarinscripcionescueladeportiva/borrar' method='get' name='editButton'>
                            <input type='hidden' name='escuela' value=<%=records[i].escuela%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='delete' type='submit'>cancel</button>
                                <span class="tooltiptext">Cancelar inscripción</span>
                            </div>
                        </form>
                    </th>
                </tr>
            <% } %>
        </tbody>
</table>
</div>
<% } else { %>
    <div class="form">
        <h2>Mis escuelas</h2>
        <p>No estás inscrito en ninguna escuela.</p>
    </div>
<% } %>
<br>
<div class="clearfix">
    <div class="btn fab blue tooltip">
        <span class="material-icons" type="button" onclick="location.href='/gestionarinscripcionescueladeportiva'">group_add</span>
        <span class="tooltiptext">Inscribirte en una escuela</span>
    </div>
</div>
<%- include('../layouts/footer.ejs'); -%>