<%- include('../layouts/toolbar.ejs'); -%>
<% 
if(records.length > 0) { 
%>

<div class="table-responsive-vertical shadow-z-1">
    <h2>Inscribirse en escuela deportiva</h2>
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead><tr>
            <th>Nombre</th>
            <th>Fecha de Fin de Inscripción</th>
            <th>Fecha de Clase</th>
            <th>Número de Clases</th>
        </tr></thead>
        <tbody>
            <% for(i = 0; i < records.length; i++){ 
   
                var today = new Date;
                var inicio = new Date(records[i].fechaInicio);
                var fin = new Date(records[i].fechaFin);
                if(today > inicio && today < fin){

                var fecha = new Date(records[i].fecha);
         switch (records[i].hora) {
            case 0:
                fecha.setHours('9', '0', '0');
                break;
            case 1:
                fecha.setHours('10', '30', '0');
                break;
            case 2:
                fecha.setHours('12', '00', '0');
                break;
            case 3:
                fecha.setHours('13', '30', '0');
                break;
            case 4:
                fecha.setHours('15', '00', '0');
                break;
            case 5:
                fecha.setHours('16', '30', '0');
                break;
            case 6:
                fecha.setHours('18', '00', '0');
                break;
            case 7:
                fecha.setHours('19', '30', '0');
                break; 
        }
        
        var displayFecha = fecha.toLocaleString("es-ES");%>
                <tr>
                    <th><%=records[i].nombre%></th>
                    <th><%=new Date(records[i].fechaFin).toLocaleDateString()%></th>
                    <th><%=displayFecha%></th>
                    <th><%=records[i].numClases%></th>
                    <th>
                        <form id='oculto' action='/gestionarinscripcionescueladeportiva/nuevo' method='get' name='editButton'>
                            <input type='hidden' name='codEsc' value=<%=records[i].codEsc%>>
                            <input type='hidden' name='cupoMax' value=<%=records[i].cupoMax%>>
                            <div class='material-button tooltip'>
                                <button class='material-icons' id='register' type='submit'>group_add</button>
                                <span class="tooltiptext">Inscribirse en esta escuela</span>
                            </div>
                        </form>
                    </th>
                </tr>
            <% }} %>
        </tbody>
</table>
</div>
<% } else { %>
    <div class="form">
        <h2>Inscribirse en escuela deportiva</h2>
        <p>No hay ninguna escuela disponible en este momento.</p>
    </div>
<% } %>
<br>
<%- include('../layouts/footer.ejs'); -%>